[2017-05-02 21:38] CharliePoole opened #1 "Review of projects.md"
Hi @nunit/core-team !

This is the first of what will probably be lots of reviews of documentation about the governance of the NUnit project. After some thought, I decided a bottom-up review would work best. That is, the more detailled docs will be reviewed before the higher-level ones.  This has the advantage that each review concentrates on one thing and we can gradually build up to the big pict

[2017-05-03 00:05] CharliePoole opened #2 "Review of roles.md"
This describes all the roles and responsibilities. It is primarily based on the oss-watch Meritocratic governance model and will eventually be a part of our main governance doc.

https://github.com/nunit/governance/blob/master/notes/roles.md

@nunit/core-team Please comment - this one has a lot of meat.

[2017-05-03 02:08] rprouse commented on #2
For future docs, it might be easier to review them as pull requests. Then we can comment on individual lines.

Overall, very well written and in line with our original discussions, so no major changes on my part. Just a few comments and spelling fixes,

### Contributors

- ~~supporting~~ helping new users...
- programming - seems redundant with fixing bugs and adding features below
- should we lin

[2017-05-03 02:17] rprouse commented on #1
The categories and descriptions seem good, the only issues I see is the categorization of some of the projects. In no particular order,

- NUnit Transforms - We only have one user who has shown interest and even he has moved on. I would vote to archive unless a maintainer is found.
- NUnit Xamarin - Chris and I are doing our best to maintain this, Contributed?
- NUnit Distribution - This is just t

[2017-05-03 12:38] ChrisMaddock commented on #1
I like it! Specifics:

- Would this be a good place to highlight projects that may be 'looking for a maintainer'? I'm thinking samples, project editor...

What's NUnit Results?! I agree with NUnit Summary, it just needs a little polish to get it ready for an NUnit 3-supporting release - but we don't seem to have anyone willing to do that. I think it's up to you, @CharliePoole, as to whether you wi

[2017-05-03 15:18] CharliePoole commented on #1
We could add a category of projects needing maintainers but I doubt we would get much of an audience here.

Maybe a help wanted page on the website and a notice on the repo. Does GitHub have a place for projects needing maintainers to advertise?

Here I would be more inclined to categorize based on what we __want__ the project to be.

[2017-05-03 17:14] CharliePoole commented on #1
Comments on Chris and Rob's comments...

Nunit Transforms is a special sort of thing, which I forgot about. It's actually set up to aggregate a number of contributed transforms, which are basically small projects in themselves. Right now we have only one: `nunit-junit.xslt` which was literally contributed to us by the author, who is not availble to do much about maintaining it right now.

In addit

[2017-05-03 17:26] CharliePoole commented on #1
Continuing with nunit.xamarin...

I can see it as a secondary project provided we - as a team - want to keep it alive.

@ChrisMaddock the main difference I see with contributed versus core/secondary is that we promise to keep core/secondary things working in the future. There is no such promise with contributed -  it's up to the contributor. I think that making this distinction is an important ste

[2017-05-03 17:29] CharliePoole commented on #1
NUnit Distribution - I agree that this is not a separate project for administrative purposes, so I'll drop it from the listing. I've done that for other github repos as well.

In fact, I'm wondering what benefit we are getting from it's being a separate repo. We thought it made sense at one point but I wonder if releasing wouldn't be easier if it were part of the nunit-console repo.

[2017-05-03 17:31] CharliePoole commented on #1
@ChrisMaddock Yes, I forgot the td.net adapter!

[2017-05-03 18:05] CharliePoole commented on #1
@ChrisMaddock Re NUnit Summary and NUnit Results

NUnit Summary displays info about the results of one or more test runs by reading and transforming the xml result files using xsl. I did it as a private project a long time back, as a way to learn about XSL. Since the most important thing I learned was that I didn't like XSL, I didn't do much with it but instead switched to NUnit Results, which dis

[2017-05-03 18:06] CharliePoole commented on #1
I updated projects.md based on the comments so far.

For now, I'm continuing to update directly in master but I'll switch to use of a PR for the next document. If you want to just see the changes, you can look at the last commit.

[2017-05-03 18:07] CharliePoole commented on #1
@OsirisTerje @jcansdale Comments please?

[2017-05-03 18:31] rprouse commented on #1
I am on the fence about the Xamarin project. I've worked on several Xamarin.Forms apps and always have a Portable library for the bulk of the app, so I just create a .NET 4.5 test project referencing the PCL to run the tests. I think if I was working on a Xamarin.Android or Xamarin.iOS app that I would be forced to use the NUnit.Xamarin project to run tests as I can't see an alternative. Based on

[2017-05-03 19:07] CharliePoole commented on #2
I'll do future docs as PRs and probably do away with the drafts folder in that case. For this one, I will keep on as I started, since it's simplest.

I'm making most of the suggested changes. Further notes...

* The issue tracker is different for each project, so I can't link. I just said "for each project"

* The parts about voting are a bit vague because I planned to have something more detailed

[2017-05-03 20:01] OsirisTerje commented on #1
The basic layout of the categories and projects  looks good to me.

But I think the Doc project should be regarded as a project in itself.   The website project is in, and that is good, but the Doc project is even more important.  When talking about that, I feel that it also need more attention than we have been able to give it so far.

I also feel that the Test Adapters should be regarded as one

[2017-05-03 20:21] OsirisTerje commented on #2
Organization Lead sounds workable.

About the voting:  I see you mention consensus.  I think that should be the primary choice,  and not voting.  Voting should only be used if  there are really a blocked situation.  Everyone on the core team should be people that are willing to work in a consensus manner.  I found this wiki article good  https://en.wikipedia.org/wiki/Consensus_decision-making.  I

[2017-05-03 21:06] ChrisMaddock commented on #1
This sounds like a great idea for keeping the recent work done to update these to NUnit 3, whilst not requiring the extra work to bring the rest of the project up to 1.0 level.

 - NUnit Distribution - merging it into console sounds good to me

[2017-05-03 21:19] ChrisMaddock commented on #2
Again, on the whole this looks good.

- Organization Lead is fine by me.
- Can we detail the responsibility for reviewing pull requests? This is a committers role, correct?
- Perhaps a note about triaging other users bug reports would also be good (contributors, I assume) - that's a big time sink we can get behind on.

I assume the lists weren't intended to be exhaustive - but these are two big ta

[2017-05-03 21:23] CharliePoole commented on #2
@OsirisTerje I agree that consensus is what we want, both for the Core Team and for individual projects. I'll try to make that clarer in the "Decision Making" doc.

I see the "NUnit Project" as a aggregating several individual projects, any of which make their decisions as they wish, at least within some limits we might set. So this documentation is primarily about how NUnit as a whole (the organi

[2017-05-03 21:32] CharliePoole commented on #2
@ChrisMaddock

Review of pull requests seems much more detailed than what is in this snippet. As I said in the beginning, I'm trying to get pieces of things reviewed, building up to the whole. I was thinking of the process of source code changes as a separate document.

There is also a serious question: does the Core Team want to impose the same PR requirements on every project? Or should it be ju

[2017-05-03 21:37] CharliePoole commented on #1
@OsirisTerje I'll add the docs project, although I've started to wonder if our merging the docs together was such a great idea. 😞 However, as it now exists, it is a separate project.

Similarly, for the two VS adapters, they are currently separate projects. We have a lot of decisions to make for them and I felt that it would be pre-judging the Core Team's decision to join them together in this doc

[2017-05-03 21:39] ChrisMaddock commented on #2
The latter sounds sensible to me.

How about:

"New committers can be nominated by any existing committer and must be **appointed** by the individual project lead and **approved** by the Core Team."

Maybe this is splitting hairs though. 🙂

[2017-05-03 22:03] CharliePoole commented on #2
@ChrisMaddock Used your language

[2017-05-03 23:49] rprouse commented on #2
Much of this repeats what others have said above, but weighing in 😄

I agree that we should try to continue to work by consensus, but I think voting should be covered in case we can't reach consensus. Hopefully it will seldom come to that.

That is the way we do it now. If we lock down master on all repos, I would be okay with extending contributor access to all repos. It might encourage committer

[2017-05-04 00:56] CharliePoole commented on #2
@rprouse
The structure I'm thinking of for the docs...

  governance.md with references to
    projects.md (already under review)
    decisions.md (containing stuff like consensus and voting)
    code??.md (general process for accepting code, including any CLA)
I think I'll actually embed the text from roles.md in the main document.

IMO, at the point where we are now, our greater need is to get s

[2017-05-04 01:13] CharliePoole commented on #1
Created issues for moving distribution back to nunit-console and reviewing the status of nunit-summary.

[2017-05-05 17:55] #2 closed

[2017-05-05 17:55] #1 closed

[2017-06-07 16:01] CharliePoole opened #8 "Individual Software Project Decentralization"
@CharliePoole commented on [Tue Jun 06 2017](https://github.com/nunit/nunit-console/issues/235)

I'm writing this as an question to be discussed by the Core Team, but we can transform it into an action item if we find there is something we need to do as a result.

I began breaking the old NUnit project into multiple pieces (framework, engine, etc.) for NUnit 3 because I pictured a future where dif

[2017-06-08 02:11] rprouse commented on #8
I have always supported the idea of individual teams for each project and then a core team that manages the overall direction of the project, but lately I have become worried that we might be tilting at windmills. @CharliePoole and I started trying to put this in place around two years ago, but I don't feel we have been very successful. We have managed to recruit new members and we are spreading t

[2017-06-08 02:45] CharliePoole commented on #8
I think having an ideal and also being aware of reality are both important characteristics. More than the theoretical ideal, I am quite concerned about the workload that is falling primarily on Rob's head. Rob, I have urged you privately to resist, to let things go bad until somebody steps up to take the jobs on. But you're too committed to the work to do that. It's a strength and also a potential

[2017-06-08 02:47] CharliePoole commented on #8
AH ... one other thing. I feel that a separate software team lead - for example, for the framework - would have a stronger tendency to recruit people for that team.

[2017-06-08 03:05] jnm2 commented on #8
Speaking of recruitment, reaching out to the .NET Foundation may be a good idea. Martin Woodward said that one of the goals of the foundation is helping get the word out and recruit contributors. We could start a conversation and see what they can do for us.

[2017-06-08 12:45] rprouse commented on #8
I have actually been trying to step back in some areas, for example, not getting involved in all issue and PR discussions, but I find that I start losing track of everything that is happening in the projects I am interested in. I guess that is the price I need to pay. It has resulted in more team participation though and I thank everyone for that 😄

I am good to stick with the governance model as

[2017-06-08 12:50] rprouse commented on #8
I should explain more about why I see the VS test adapter as core NUnit. I don't think it always was, but now that Microsoft has open sourced MSTest and VSTest, and now that they have documented the API, the adapter is being used more widely and I expect it will find itself in more IDE's in the future. It has already been picked up by VS Code allowing you to run your tests there and it is used by

[2017-06-08 14:25] jnm2 commented on #8
@rprouse I strongly agree about the VSTest adapter.

[2017-06-08 14:51] CharliePoole commented on #8
Microsoft Visual Studio is a commercial product. In working with them, I believe we should consider carefully what to do and what not to do, in keeping with the principle of platform- and IDE-independence given in our vision statement. We have already - in recent years - compromised the principles to some extent, to my regret and over my objections. I didn't fight hard at the time because I know t

[2017-06-08 15:22] jnm2 commented on #8
Maybe I missed it; I didn't hear anyone suggest merging the projects back together or moving away from a meritocratic model.

Correct me if I’m wrong, but I think all we’re suggesting is following the current governance docs– which we all like– as closely as we can by reusing people during this period of time where we don’t have as many volunteers as we could use. As more people show up, we’ll hav

[2017-06-08 15:27] jnm2 commented on #8
To my mind no matter what model you follow, the possible models will look more and more similar as you approach the singularity of having fewer and fewer people involved. That doesn't mean we're jumping models, it just means we're making do.

[2017-06-08 15:31] jnm2 commented on #8
Perhaps what we need is for the governance docs to explicitly cover what happens when there aren’t enough individual members to go around.

[2017-06-08 16:11] CharliePoole commented on #8
@jnm2 All good points.

And yet, in my coaching experience, I've noticed is that the majority of folks on a team will not volunteer for a task __when somebody else already has the job__. They only step up for "vacancies."

So my original idea was to create a bunch of "vacancies" in the form of project leadership roles. I'm not criticizing Rob for stepping up - into almost all of them, in fact. I h

[2017-06-08 16:38] jnm2 commented on #8
Specifically, I didn't hear anyone suggest having a single leader making the key decisions. Rob doing all the work (😢) is not the same as Rob making all the decisions. And the distinction between 1) a single team working on all projects and 2) teams per project which happen to share many of the same people, which I think Rob was talking about, is a fine but important distinction. If you keep that

[2017-06-08 16:57] CharliePoole commented on #8
I'm not sure if I am hearing that (single leader making the key decisions) or if it's merely a base assumption of mine. It's really up to you guys to figure it out. Some data points...

* I had written the governance doc without specifying how the individual software projects would operate. I think that's important if you are going to accept projects form other people. In that case, especially, yo

[2017-06-08 17:18] CharliePoole commented on #8
Just to be clear... I __want__ the software project lead to make key decisions 95% of the time.

[2017-06-08 17:29] CharliePoole commented on #8
As a matter of definition - and apologies to those who already know this...

* "Meritocratic" and "benevolent dictatorship" are terms of art in the open source world. They are used extensively in talking about  projects. If you haven't come across them before in this context, google will probably help.

* There is no positive or negative connotation to either name, even though many people might re

[2017-06-08 17:32] CharliePoole commented on #8
I can accept Rob's point of view that we may need to take the governance docs as a goal and make some adjustments in practice, at least for now.

I actually prefer that to somehow pretending that we are following the docs, if we are not going to.

[2017-06-08 17:53] jnm2 commented on #8
If we don't expand the governance docs to cover scenarios where there isn't enough person-time to go around, I still think it's a worthwhile conversation.

[2017-06-08 17:57] CharliePoole commented on #8
Of course, the first step in changing the governance docs is that somebody propose a change. 😄

[2017-06-08 18:09] CharliePoole opened #9 "Changing our governance docs"
What should be the rules about who can change these docs? I'd like to give everyone write access, but I think we should first agree on what it takes to change them.

* Does it require a vote?
* Is there a difference between simple text changes and "big" changes? If so, who decides.
* Where should we document whatever rules we agree on?

[2017-06-08 18:13] CharliePoole opened #10 "Vision Document"
I propose that the vision document, which is now part of our developer docs on the wiki, be moved to the governance repo and that we review and revise it as needed.

If folks agree, I'll make a PR and we can then comment on it line by line if we need to.

[2017-06-08 18:32] CharliePoole opened #11 "Future direction of TeamCity project"
We have been spending a lot of time discussing generalities in this governance repo. I thought it might help if I focused on a few specific issues for a bit. At least that way I think we'll all be talking the same language. 😄

The TeamCity extension is exclusively maintained by JetBrains folks, in particular by @NikolayPianikov. This is as it should be, IMO. It's a commercial product and is not us

[2017-06-08 19:01] CharliePoole opened #12 "Copyright for NUnit Projects"
A bunch of NUnit projects are copyright to me personally. A bunch of others are not, but just had my name added to them in a kind of rote way as "the guy" for holding copyrights.

I need to figure out what to do with "my" copyrights, but the ones that just have my name artificially added to them kind of confuse the issue. Let's discuss how to fix all this.

I'll add separate comments for each sort

[2017-06-09 01:43] CharliePoole commented on #12
Bummer! I just spent an hour making a table of all our projects and who holds copyright on each. Just as I went to save it as a comment, my machine died! Teaches me to not edit online.

[2017-06-09 12:18] rprouse commented on #8
@CharliePoole I think you took my suggestion to mean too much. I would like to see people taking responsibility and making leadership decisions for the individual repos and even having nominal teams for each repo. I just think that a single GitHub team that has write access to our core repos will empower developers who work on one repo to help out in the others. It will also give us a team that we

[2017-06-09 12:24] rprouse commented on #8
To address the adapter comment about Visual Studio being a commercial product, I fully agree and that is why I said I would have considered it separate earlier. The difference now is that the adapter API is now the standard API for running tests in .NET. That means that it isn't just a Visual Studio adapter anymore, it is just a .NET test adapter for our framework.

The adapter is currently the on

[2017-06-09 12:33] rprouse commented on #9
I think we should lock down master so everything needs to go through a pull request for visibility. Admins could still push to master, but that should be discouraged.

Then, rules for changes (merging pull requests).

1. One @nunit/core-team member submits a pull request for review by the team
2. Spelling, grammar, or formatting changes that do not change the meaning of the document can be merged

[2017-06-09 12:34] rprouse commented on #10
Agreed and I think a PR is the best way to do it.

[2017-06-09 12:35] CharliePoole commented on #9
Makes sense to me. We can try it out on this issue.

[2017-06-09 12:51] rprouse commented on #11
Whatever we decide for the Team City adapter, I think we should also apply to the TD.NET adapter contributed and managed by @jcansdale.

I would be fine continuing to host them under the NUnit organization. I think it gives users one place to look for everything NUnit related, even if it is not maintained by us. It also makes it easy for us to transfer misreported issues over to the appropriate re

[2017-06-09 13:04] ChrisMaddock commented on #8
Sorry all, busy few days. In entirely unrelated news, good morning, from a _slightly_ more liberal United Kingdom. 🙂

I'll just pick up on some specifics...

- Team changes: I'm not sure on the best path here, although I wouldn't like to repurpose Contributors - I think having a 'team' at that level is a great way to bring people into the organisation. _Should_ we merge the teams, there needs to b

[2017-06-09 13:05] ChrisMaddock commented on #9
Sounds good to me.

[2017-06-09 13:06] ChrisMaddock commented on #10
Sounds good.

[2017-06-09 13:07] jnm2 commented on #9
Me too.

[2017-06-09 13:14] ChrisMaddock commented on #11
I agree with this - these projects should be clear that they are entirely supported and managed by the relevant companies/people.

---

Regarding removing the TeamCity extension from bundles, I disagree. This would be a significant breaking change for many of our users. I agree this situation doesn't fit our vision - but view this as a 'historic mistake'. I think the best path forwards is to ackno

[2017-06-09 13:17] CharliePoole commented on #11
We are not at the voting stage, and I don't plan to call for a vote to maintain the status quo... I wouldn't have made an issue if that were the case.

I feel very strongly that distributing the teamcity extension gives an appearance that we are somehow aligned with teamcity and that we recommend it over other tools. We should not be doing that.

Users already mostly get their extensions in one pl

[2017-06-09 13:20] CharliePoole commented on #10
Hmm... I'll do it that way if you guys like, but it seems like it would (a) be more work because I would have to do all the editing elsewhere and (b) would hide from review (or make it harder) the changes I make to the document. It makes much more sense to me to just add it, since it's already our published document, and then use a PR for the changes.

[2017-06-09 13:32] NikolayPianikov commented on #11
Of couse, I like the idea of @ChrisMaddock :)
I was always interested in the question: Are we planning any ways for integration with other CI? I mean when user can see realtime feedback from the test runner in the CI. The xml report it is quite slowly feedback

[2017-06-09 13:37] ChrisMaddock commented on #10
@CharliePoole - I assumed you wanted us to comment on the existing document, prior to any changes. If you're instead intending to propose changes, then your second proposal sounds more sensible - although it would be good to review the entire document, rather than just any proposed changes, if we're adding it here.

[2017-06-09 13:44] ChrisMaddock commented on #11
As my comment above, in my opinion, 'no'. In my opinion, we should acknowledge this as a historic decision that we continue to support, would aim to remove in future major versions, and accordingly would not expand to any any other commercial project. @CharliePoole - I think we fundamentally disagree on this one, so I'll leave my opinion there, and wait on the decision of others. 🙂

@NikolayPianik

[2017-06-09 13:52] NikolayPianikov commented on #11
And one more **great** argument for TeamCity: we have very good support of NUnit in TeamCity and in Resharper/Rider. Due to this NUnit is very popular among our customers (and we have a lot of them). I think it would be nice to continue this good deed. If you build the same kind relationship with other CI it will be also fine.

[2017-06-09 14:14] CharliePoole commented on #8
@rprouse
I'm glad you would like to encourage people to make decisions and take responsibility for the individual repos. I would too. Having project leaders or release managers are just a means to that end. There are probably lots of other approaches that will work - I just haven't seen or heard them yet.

Forming a single team is fine, although I would still tend to exclude the VS stuff as being

[2017-06-09 14:22] ChrisMaddock commented on #8
This was meant solely in the context of the idea that "splitting up the projects and building smaller teams doesn't seem to be going so well" - which seems to have been suggested in this discussion. Not at all in relation to the process moving to a new governance structure - I'll edit the above to clarify.

[2017-06-09 14:37] jnm2 commented on #8
@rprouse @CharliePoole If we want to work with `dotnet test`, is the adapter a necessity or is it possible to skip VSTest entirely? If it is a necessity, would we consider a `dotnet nunit`?

[2017-06-09 14:37] CharliePoole commented on #11
@ChrisMaddock Removing in a major release is a decision I can agree with. We're not trying to decide what to do tomorrow, but to set policy for the future.

@NikolayPianikov The XML report is not what NUnit now offers for real-time feedback. Rather, it's the events. That's our standard. As you know, the teamcity listener translates what NUnit provides to what teamcity wants.

@ChrisMaddock If the

[2017-06-09 14:42] CharliePoole commented on #10
@ChrisMaddock Sure. But we should bear in mind that the document as it stands is __already__ our policy. I assumed everyone was already familiar with it... just kidding. 😈

What I'll do is use the PR in both cases. When I add it, I'll do it with comments about what I hope to change.  Then we can discuss my ideas before I carry them out. We shouldn't need to have a vote to merge it as is. Next, I'l

[2017-06-09 15:01] ChrisMaddock commented on #10
Sounds good.

[2017-06-09 15:39] jnm2 opened #13 "Joining the .NET Foundation"
I like the idea of letting the .NET Foundation take as much load as possible off of us, so long as that doesn't mean giving up any freedom that is important to us. I'm not aware of any conflicts there, but let's discuss it.

Pros (from https://dotnetfoundation.org/about):

 - Getting the word out and recruiting
 - Hosting, domain, DNS registration, SSL certs
 - Authenticode signing
 - Intellectual

[2017-06-09 15:57] rprouse commented on #13
I believe that the .NET Foundation will require us to use their CLA bot. It asks users to sign a contribution agreement before pull requests are accepted. Once you sign it for any .NET Foundation project, you don't have to sign it again.

To me, this is a pro and one of the original reasons I started talking with Martin. It may discourage some people from submitting PR's though, so some of us may

[2017-06-09 16:02] rprouse commented on #13
The following are my notes after talking with Martin last year,

---

I talked with Martin about how the Foundation works and what it can help us with. Some of the things we talked about are (in no order);

- They provide us with a password vault for maintaining NUnit's passwords to Twitter accounts, DNS, etc. Anything that we need to share among team members.
- Contributors License Agreement. A G

[2017-06-09 16:10] jnm2 commented on #13
@rprouse That happening would surprise me, but the data is open.
[cla-required](https://github.com/pulls?q=is%3Apr+commenter%3Adnfclas+label%3Acla-required): 4.0% of [all PRs](https://github.com/pulls?q=is%3Apr+commenter%3Adnfclas) have not been signed yet.
[cla-required  last active > 6 weeks ago](https://github.com/pulls?q=is%3Apr+commenter%3Adnfclas+label%3Acla-required+updated%3A<%3D2017-04-28

[2017-06-09 16:22] CharliePoole commented on #13
@jnm2 You should be aware that Rob and I have talked about using a CLA anyway.

Rob and I each talked (separately as it worked out) with Martin. I may post more when I dig out my notes, so I'll just add a few comments to Rob's.

* There is a choice of assigning the copyright to the foundation or licensing it (as Rob described). Licensing it is what we would do (I can state that because I hold the

[2017-06-09 18:40] rprouse commented on #13
Martin has been replaced by Jon Galloway. I can reach out to him and make sure that everything is still the same if people want. I could also ask him about transferring copyright in stages if you like. Or, if you prefer @CharliePoole, I can leave it to you.

On the subject of copyright, have you decided about the framework, console/engine and adapters @CharliePoole? I had always assumed that they

[2017-06-09 18:57] CharliePoole commented on #13
I'd prefer to talk to him about the issues I have, since they relate to the copyrights. Just to be clear "transferring" or "assigning" copyright means __giving__ the intellectual property to the .NET foundation. They will, if asked, license it back to the original owner. (Always assuming that hasn't changed since I met with Martin.) That is definitely __not__ what I would do. Of course, that's als

[2017-06-09 19:01] ChrisMaddock commented on #13
I would like us to join, purely for NUnit to be a formal part of the biggest community of the rapidly growing .NET open source movement at the moment. All the other issues we're looking at (copyright, hosting, domains, long-term security), which the .NET Foundation could potentially solve for us, are simply added bonuses. 😄

[2017-06-09 19:04] OsirisTerje commented on #9
ok here

[2017-06-09 19:11] rprouse commented on #13
@CharliePoole you probably already have it, but Jon's email is jon@dotnetfoundation.org

As for my second question, unless I misunderstood, you were talking about continuing to hold the copyright for one or more projects. I had always assumed those didn't include the framework, console, engine and adapters, so those would be candidates for transferring or licensing to the foundation if we decide t

[2017-06-09 19:16] CharliePoole commented on #13
@ChrisMaddock
I have my reservations but it's the best choice available once you realize that we need some sort of formal organization - one that exists legally. The next best options, to my mind, were to form a business entity and to form a foundation, both of which require work I don't want to do.

OTOH, you have to recognize that there is work to do if we want to be part of it. We know from pri

[2017-06-09 19:34] CharliePoole commented on #13
@rprouse
Thanks for the email.

OK... I thought you meant I might somehow be removing the projects from NUnit, which seemed odd. I'm definitely not doing that!

As to copyright... Based on what you were assuming I can see that requires a much longer answer, which will be better to do in the copyright issue itself.

I'll try for a short version here: Some things are copyrighted in my name due to my

[2017-06-09 23:50] CharliePoole commented on #12
The following is a summary of who holds copyright on all our projects and how (or if) I think it should change in the future. I wanted to make a full summary so we could see everything at once, but I think it will work best if we discuss one issue at a time.

| Group     | Repo                      | Copyright | Action |
|-----------|---------------------------|-----------|-----------|
| Core

[2017-06-09 23:53] CharliePoole commented on #12
- [ ] task

- [ ] task 2

- [ ] task 3

[2017-06-10 00:07] CharliePoole commented on #12
Starting out with some low-hanging (I hope) fruit...

These are items that list me as the copyright holder but which I haven't even worked on. The author is listed for each one.

1. nunit.xamarin (Rob)
~~2. nunit.analyzers (Jason)~~ (I was mistaken here, there is no copyright holder listed)
3. nunit-vs-testgenerator (Terje) (Done pending approval by Terje)
4. nunit.portable.agent (Rob)

The author

[2017-06-10 00:09] CharliePoole commented on #12
Here's another...

I wrote the first teamcity-event-listener, based on internal engine code, which I had previously written. So it carries my name. @NikolayPianikov has done all the work for some time. I propose to share the copyright with him, if he agrees. I created an issue for this in the teamcity project: nunit/teamcity-event-listener#40

**Update:** @NikolayPianikov can't be the copyright ho

[2017-06-10 12:49] #9 closed

[2017-06-10 15:59] rprouse commented on #8
@jnm2 if we want to run with dotnet test, then it is necessary. Other IDEs are also starting to use it like Visual Studio Code, so I think it is important.

That said, I do think we should create a dotnet nunit command to give us more control.

I think running from the current console is okay, but it will require users have the full .NET framework or Mono installed which I think is the wrong appro

[2017-06-10 16:39] CharliePoole commented on #8
@rprouse Ironically, that's the same POV that @oznetmaster has been pushing WRT .NET CF. :-)

There is probably some difference having to do with size of user base, however.

[2017-06-10 20:23] rprouse commented on #11
I agree with @ChrisMaddock in that it is a historical mistake that we need to live with and learn from. We won't include anything like it in future bundles and will remove it at a major upgrade point. I would remove it now, but I don't want to deal with the flood of issues that we broke TeamCity 😄

I can see how it is a nice feature for TeamCity users, but I would prefer to see it ship with TeamCi

[2017-06-10 23:07] CharliePoole commented on #11
So if we want to undo the historical mistake in a major release, do we wait for that release or make it public now? And if so, how do we make publish the information? @rprouse ? @NikolayPianikov ?

[2017-06-11 09:58] NikolayPianikov commented on #11
@CharliePoole could you provide some details about issues related to TeamCity?

[2017-06-11 12:28] ChrisMaddock commented on #11
I was assuming the next major release would be similar to the NUnit 2 -> NUnit 3 release, and come with a page full of breaking changes. As such, I don't see any reason to formally publish anything until that point.

[2017-06-11 16:00] CharliePoole commented on #11
@NikolayPianikov Do you follow the feed of issues and PRs for nunit-console? That's where they all show up. If they seem to be an event-listener issue, we transfer them to you, otherwise not.

@ChrisMaddock I'm of two minds. We had a __lot__ of advance notice of planned changes with NUnit 3. OTOH, nobody ever seemed to pay attention and we got issues from surprised users after the upgrade. However

[2017-06-11 17:06] ChrisMaddock commented on #11
To clarify, I presume we're both expecting 4.0 to be several years away? I was considering this to be on the same timescale as versions 2 -> 3 were.

A 'notes for 4.0' page in the developer docs in the wiki sounds a sensible place.

One point on the wording - I thought we'd already agreed that all support was to be done by JetBrains? By "We will continue to support the extension" - did you just me

[2017-06-11 18:43] CharliePoole commented on #11
Sounds good to me... Anyone else?

On wording, I agree it's ambiguous. Basically, we currently support it by having a `--teamcity` option in the console. Everything else it uses, including the interface, is generic.

Hows this? "We will continue to support the --teamcity option in the console runner when the extension is installed separately by the user."

[2017-06-11 18:46] CharliePoole commented on #11
On timescale... that's my expectation. If something happened to cause us to do a 4.0 release in the short term, I figured we could just push the change back to 5.0. That's why I wrote "we intend."

[2017-06-12 01:15] rprouse commented on #11
I vote yes on @CharliePoole's proposed wording.

[2017-06-12 02:11] jnm2 commented on #11
👍 Sounds good to me.

[2017-06-12 08:24] ChrisMaddock commented on #11
Sounds good - although if the extension isn't going to be installed by default, then I wonder if the flag is redundant! That's something to figure out when we come to 4.0 though, the revised version [here ](https://github.com/nunit/governance/issues/11#issuecomment-307648384) sounds good for now.

[2017-06-12 09:45] CharliePoole commented on #11
@ChrisMaddock Extensions are capable of being enabled or disabled. The teamcity extension makes use of this and the command-line option enables it.

[2017-06-12 10:10] OsirisTerje commented on #11
Yes from me.

[2017-06-13 18:18] rprouse commented on #8
As a compromise for the larger team to work on several of our core repositories, GitHub just released team hierarchies today. We could keep the framework team, engine team, etc, but include them in a larger team that we could call out for code review or help. Not sure what to call it though since core team is already taken. Maybe `Core Projects Team`. A bit long and similar to the core team. Any o

[2017-06-13 18:47] ChrisMaddock commented on #8
Perfect timing. 😄

Yes to creating the team.

I also think `Core Projects Team` is too similar to `Core Team` and could cause confusion - but don't have any better suggestion (yet!). We can always rename the team.

[2017-06-13 19:18] CharliePoole commented on #8
@rprouse This is a neat feature, although not as neat as nested folders of repos, which many of us have been waiting for. But I would ask you wait to do this until after we decide this issue and also decide who is in each role.

I don't see your suggestion as a compromise on the issue but as possibly masking a real issue that we ought to decide. I think I defined my use of centralized / decentrali

[2017-06-13 19:26] CharliePoole commented on #8
@ChrisMaddock Our comments crossed.

Maybe I'm missing something, since you like this idea and I don't. 😄 I'd like to understand how you see it as helping us. Is it merely an easier way to manage read and write authority? Do you see it settling the centralization versus decentralization question? In which direction?

[2017-06-13 19:39] jnm2 commented on #8
I say let's wait to use the hierarchy until we find ourselves often needing a way to automate talking to all three teams at once. I agree that it's an implementation detail and should not have anything to do with the core team.

Also: we need better team names. I don't like the feel of the name 'governance team,' but it is way less confusable than 'core team' and says what it is.

A hypothetical c

[2017-06-13 19:41] jnm2 commented on #8
I don't like the feel of the name 'governance team,' but it is way less confusable than 'core team' and says what it is.

A hypothetical convenience team combining the members of the main projects should be the 'main projects team', perhaps?

[2017-06-13 19:45] jnm2 commented on #8
'Guidance team'? 'Administrative team' or 'admin team'? 'Steering team'? 'Supervision team'?

[2017-06-13 19:47] CharliePoole commented on #8
@jnm2 Changing team names is trivial. We've done it several times in the past. Agreeing could be harder, now that we are democratic. 😸

In practice, up to now, the burden of managing names on multiple teams has fallen on Rob and me. I'd like to see team leaders managing who is on their teams.

[2017-06-13 19:47] CharliePoole commented on #8
"Vision Holders" 😸

[2017-06-13 19:51] jnm2 commented on #8
'Vision team' ain't bad. Whatever we call ourselves should match the governance description as closely as possible for the sake of clarity and transparency.

There can never be too much clarity in any communication, imo. 😃

[2017-06-13 20:05] jnm2 opened #17 "More communicative name for the Core Team"
We all know that naming is one of the two hardest things in software development (along with cache invalidation, and off-by-one errors).

I've come to think that communication between ourselves, other teams and outside contributors would benefit from choosing a more intuitive and transparent name than 'Core Team.' For example, we'll talk about the core projects. Is the Core Team simply the team th

[2017-06-13 20:07] jnm2 commented on #8
Great suggestion. I've moved my comments to https://github.com/nunit/governance/issues/17.

[2017-06-13 20:52] ChrisMaddock commented on #8
@CharliePoole

As I understand Rob's proposal: he is suggesting that there is a 'Core Products team' (name tdc!) which overarches the framework, engine and adapter teams. My vision would be that that would be the team we would generally add new contributors in this area to.

Why? It's rare for our contributors to only use a single one of our tools. i.e. most people use both framework and console,

[2017-06-13 20:54] ChrisMaddock commented on #8
I also agree that I think this relates to the framework and engine in particular - due to the amount of cross-over between the projects. I understand that with .NET Core, the adapter will also become part of this group.

Other projects such as the GUI, I think work well with an independent, standalone team. I could see the Xamarin runner working in the same way, in future.

[2017-06-13 20:55] CharliePoole commented on #17
FWIW I haven't liked Core Team for a while but hung on to it because the name works whether the team is a central authority or a court of last resort or the keepers of the Vision...

In software, not having a good name often means you haven't yet figured out what something does.

[2017-06-13 21:21] CharliePoole commented on #8
@ChrisMaddock So, if I'm understanding correctly, you see this as a more efficient way to assign authority and as not affecting the centralization versus decentralization issue. Is that a fair interpretation?

However, if we are not centralized I don't think the Core Team is who should set up these groups. Maybe some project doesn't want to participate. In a decentralized approach, that would be t

[2017-06-13 21:24] OsirisTerje commented on #17
Frankly I like the name Core team.  I have used it a few times with people, and everyone immediately understands what it means - this is the group of people that are closest to the NUnit work, and is the main people working with it, the people that are the "core" of  NUnit, and who takes "care" of NUnit.  The caretakers so to speak.
Core projects however, doesn't ring a bell mostly.  People see NU

[2017-06-13 21:46] CharliePoole commented on #8
@rprouse and everyone...

When I worked in a bureaucracy that talked a lot about centralization and decentralization, there used I be a joke "Everything should be decentralized above me and decentralized from me on down." I'm seeing and feeling a bit of that here.

When I read something in the mindset of a project lead, I don't want any core team telling me what to do. (Mostly, that's the mindset

[2017-06-13 21:53] jnm2 commented on #8
@CharliePoole Doesn't this, which we all like and agreed to, define precisely where we come down? https://github.com/nunit/governance/blob/master/governance.md#core-team

I might be the only one, but I'm struggling to keep up with what it actually is that we're trying to decide here.

[2017-06-13 22:49] CharliePoole commented on #8
@jnm2 I believe that the existing governance doc calls for a decentralized approach, as you suggest. I wrote it that way and it was approved. But I heard some things that made me think some people no longer wanted this kind of approach. That's why I wrote the issue... so we could either validate the original approach or revise it. Since we are still debating, I guess there really was some reason t

[2017-06-13 22:59] jnm2 commented on #8
I vote we stick with what the five of us approved.

If someone has a _concrete_ improvement to propose for the governance doc to benefit the NUnit project, let's discuss that proposal in concrete terms.

If someone believes that we are taking concrete actions contrary to the governance doc, let's review whether we need to either adapt our practices to the agreed-upon docs, or agree upon an adaptat

[2017-06-14 01:49] CharliePoole commented on #8
@jnm2 Thanks for that comment and for others you have made throughout.

I just re-read all the comments since the start of this issue. As far as I can tell, everyone has said they understood and favored the structure we set up, with relatively independent software project teams and a core team that has more power to step in but normally doesn't. Even Rob, whose words got me worried in the first pl

[2017-06-14 02:22] CharliePoole commented on #17
@OsirisTerje That's brilliant!

So the problem is not with Core Team but with Core Projects! Thinking about it, I agree with you. That word is what made it hard for me to consider the adapter as "core" because it's not the heart of what makes NUnit work. But it's an important, key, strategic (add your own word) project for sure.

I'm in favor of keeping Core Team, which is about people and finding

[2017-06-14 04:30] CharliePoole commented on #12
@nunit/core-team I'm still hoping for feedback from my proposal of four days ago regarding four projects that "accidentally" list me as the copyright holder.

[2017-06-14 04:33] CharliePoole commented on #12
@nunit/core-team FYI, @NikolayPianikov is checking with his company to make sure he is able to have his name added as a copyright holder for the teamcity event listener. For example, if they consider his work on it as "for hire" then he may not be able to.

[2017-06-14 04:34] CharliePoole commented on #12
@nunit/core-team Another FYI... I asked for some info from the .NET Foundation as discussed. No answer as yet.

[2017-06-14 04:40] jnm2 commented on #12
Looks good from here.

[2017-06-14 08:37] ChrisMaddock commented on #12
Sounds good.

[2017-06-14 08:47] ChrisMaddock commented on #8
I agree with your conclusions.

Regarding Rob's hierarchical teams, and your comment above @CharliePoole:

It sounds like you're suggesting that Rob, as Framework Project Lead, should instead be having this conversation with the Engine Project Lead (also Rob!) and Adapter Project Lead (@OsirisTerje), rather than with the Core Team. I have no objection to that.

[2017-06-14 14:12] NikolayPianikov commented on #11
We at JetBrains understand the intent of removing the TeamCity event listener from the NUnit official distribution package, although such a change is undesirable for us.

We understand and respect the decision of the NUnit project team to keep NUnit vendor agnostic.

As for us, our primary desire is to provide the best possible experience for .NET developers using our tool. That is why we’ve initi

[2017-06-14 18:03] rprouse commented on #8
I will email myself and CC @OsirisTerje  😆

I vote to close

[2017-06-14 18:06] CharliePoole commented on #8
I'm closing this. If I miscounted or misunderstood anyone's vote, feel free to reopen.

[2017-06-14 18:06] #8 closed

[2017-06-14 18:10] CharliePoole commented on #11
@nunit/core-team FYI, @NikolayPianikov consulted with his company and was unable to accept my offer to add him to the copyright for the teamcity extension. I closed that issue on teamcity-event-listener.

[2017-06-15 15:39] rprouse opened #18 "Code of Conduct"
I believe that we should have a code of conduct. The [recommendation](https://opensource.guide/how-to-contribute/#anatomy-of-an-open-source-project) is to add a `CODE_OF_CONDUCT.md` file in each repository, although we could link to a document in this repository from that file. Having the file would allow us to complete the [Community Standards](https://github.com/nunit/nunit/community) checklist

[2017-06-15 15:49] rprouse commented on #17
I am also good with Core Team, but agree that we should start referring to the core projects differently to prevent confusion. Strategic projects covers the meaning, but is a bit hard to say and I'm not sure many people will understand. Main, prime, primary, principal?

[2017-06-15 15:59] rprouse commented on #12
I am fine with assigning the copyright of the projects listed as mine to me, to NUnit.org or eventually fully to the .NET Foundation. I agree that NUnit.org is weird since it isn't a legal entity.

I have also seen project recommendations that you only place the MIT copyright in a file at the root of each repo and not include it in every file because it is redundant. I like the idea because it is

[2017-06-15 17:07] CharliePoole commented on #18
Sounds like a good idea but it could mean a lot of different things. For example, I've written codes of conduct that apply to sexual discrimination, bullying and changing people's code without reason. These are all quite different things. What kind do we mean here.

I tried the link, but it's not clear how one could read through the various Codes of Conduct supported by the templates without actua

[2017-06-15 17:17] CharliePoole commented on #12
I was considering the change from Charlie to Rob as a preliminary change, just to resolve my own issue. Obviously, once it's in your name you can change it otherwise, although changing it once is better if we know in advance how it would end up. Anyway, I'll do PRs on each of the four (did Terje's already).

Although NUnit.org is weird, we may want it or something like it for some purposes. I'll p

[2017-06-15 17:32] CharliePoole commented on #17
Strategic came out of my days at Microsoft. I had a boss on Picture It! , a Microsoft old-timer with a very low employee number, who used to say that the last thing you wanted was for your project to be considered strategic. Once that happened, Bill would be all over you. 😄

It works for me but maybe that's just my experience. Key may be an option too. Main sounds like an umbrella that contains ot

[2017-06-15 17:32] jnm2 commented on #17
How about 'central projects'? What we have is kind of like a graph with a few interconnected projects in the center and other projects more loosely connected to the central projects.

[2017-06-15 17:33] jnm2 commented on #17
I like primary too.

[2017-06-15 17:35] jnm2 commented on #12
Seconded! 🎉

[2017-06-15 17:36] jnm2 commented on #12
If we're going to keep something in each file, let's at least make it a one-liner.

[2017-06-15 18:05] jnm2 commented on #18
I vote we just adopt the .NET Foundation's code of conduct which is actually the http://contributor-covenant.org/ unless we have a specific criterion it doesn't meet.

(If we do that, we should add our name to http://contributor-covenant.org/adopters/.)

[2017-06-15 18:08] jnm2 commented on #18
If we do that, we should add our name to http://contributor-covenant.org/adopters/.

[2017-06-15 18:10] ChrisMaddock commented on #18
I think the .NET Foundation version covers our needs.

[2017-06-15 19:00] CharliePoole commented on #12
I think the minimum is a one-line copyright and a one-line reference to the license. Of course, it's possible to combine those lines but it's generally recommended to stick with a standard template for copyright, which is one line.

That said, Rob only threw this idea out as a sideline to what we are discussing. Let's not derail everything to argue about it. Remember, we are in the governance repo

[2017-06-15 19:05] rprouse commented on #17
@jnm2 I like central and the graph image that it invokes. 👍

[2017-06-15 19:17] CharliePoole commented on #17
So does Central / Secondary work? or do we have to change Secondary as well?

[2017-06-15 19:21] CharliePoole commented on #18
I favor the Contributor Covenant, which is what the .NET foundation adopted / adapted. I guess the adaptation part is adding a contact. @rprouse Since you proposed, will you do a PR?

[2017-06-15 19:46] jnm2 commented on #18
<sup>(I want to see what Terje thinks too.)</sup>

[2017-06-15 19:51] CharliePoole commented on #18
I think this PR requires a vote.

[2017-06-15 19:55] jnm2 commented on #12
I would rather say "Gee, we don't care if you have headers or not!"
But requiring one line is better than requiring an entire license. I also strongly dislike the whole tracking year thing. I don't think it earns its mental space.
\</end rant>

[2017-06-15 20:50] CharliePoole commented on #12
@jnm2 That's exactly what I think we should say. So we don't seem to disagree.

I don't think anyone has said we should require the entire license. Or even require a header. Most likely we'll ask people for something fairly light and will impose something slightly less lighter on ourselves for the primary projects. Let's wait and see what that guy writes before critiquing it. 😄

[2017-06-15 21:22] rprouse commented on #18
I have assigned to myself and will do a PR. I will add the code of conduct to this repository and then once we approve, we can add `CODE_OF_CONDUCT.md` files to each of our main repositories with a link back to the canonical version here.

[2017-06-15 21:57] rprouse commented on #12
Should we add a Creative Commons license to this repository too?

[2017-06-15 21:59] rprouse commented on #12
For the projects that you state NUnit or Rob, let's just go with NUnit for now. Are people okay with me submitting PRs for those to get them done?

[2017-06-15 22:23] jnm2 commented on #12
I'm not quite liking the fact that we're assigning copyrights to a name which isn't a legal entity. Are we going to end up assigning copyrights to the .NET Foundation? If so, why don't we hold off till then? If not, do we plan to create a legal entity?

[2017-06-15 22:37] rprouse commented on #12
I am fine to just make a plan and wait until the foundation decision.

[2017-06-15 23:01] CharliePoole commented on #12
@rprouse I think CC for our governance docs makes sense. Should there be a notice at the end of each doc such as one usually sees? Do you want to create an issue or just do a PR?

[2017-06-15 23:04] CharliePoole commented on #12
@rprouse I assume your comment about "NUnit or Rob" refers to the table I did at the beginning. That's kind of an index to everything we are doing, so no action has been taken on it yet. I'll edit it however.

[2017-06-15 23:12] rprouse commented on #12
I think just a license file at the root of the repo is good enough. I will do a PR. I will use the [Creative Commons - Share Alike](https://creativecommons.org/licenses/by-sa/1.0/) license which is one of the more open licenses.

Yes, referring to your table above.

[2017-06-15 23:12] CharliePoole commented on #12
@rprouse OK... edited. There is one other that says Rob or NUnit, the difference being because it's already in the name of a person (me) and I wanted to get my name off it. It's also part of an existing action item with four projects to be changed.

Here is my logic for wanting your name on this project... If it's going to be assigned or licensed to the .NET foundation (or any other entity) then t

[2017-06-15 23:17] CharliePoole commented on #12
Since @rprouse wanted to do some PRs on a few copyrights, let's decide what NUnit means!

You recall that I used "NUnit" as a place holder for any projects where we wanted some generic copyright holder. IMO, we should use that approach for things like docs, samples and stuff we are less concerned about for our actual software. But, in any case, we should have a standard name when we use it.

I pro

[2017-06-15 23:25] rprouse commented on #12
"The NUnit Project" 👍

To alleviate your concerns about it being a non-entity, would naming the core team as the copyright holders for The NUnit Project work? IANAL and I don't usually pay much attention to this stuff, so just asking. I tend to think that if it is MIT Licensed, anyone can do anything they please with it except remove the copyright, so I don't give it much thought.

[2017-06-16 08:23] ChrisMaddock commented on #12
The NUnit project sounds good to me.

[2017-06-16 13:19] CharliePoole commented on #12
I reformatted the summary table, used The NUnit Project, made a few other changes.

Question for all. Should the samples be MIT or CC? I originally suggested CC, but I'm thinking that MIT like other code may be more consistent. Either way, I will just add the license in the root.

[2017-06-16 13:22] CharliePoole commented on #12
@rprouse Which items were you doing PRs for, so we don't duplicate our efforts?

[2017-06-16 13:28] OsirisTerje commented on #12
MIT is fine by me

[2017-06-16 13:46] rprouse commented on #12
I think MIT is more correct for code. As for PRs, I misunderstood an earlier comment and thought you wanted me to hold off.

I am going on vacation tomorrow, but could probably knock off dotnet-test-nunit, nunit-portable, xamarin, templates before I leave. I would prefer all go to NUnit Project, none to me specifically if that is okay.

[2017-06-16 13:51] CharliePoole commented on #12
Till we decided on what word to use... but now we know it's "Copyright (c) The NUnit Project"

If you can manage that's great. Should I wait till tonight and see what's done? I can move on with a few other things today.

[2017-06-16 13:53] jnm2 commented on #12
Feel free to ignore this but I like `©` better than `(c)`. Even though hardware keyboards tend not to have a key for this symbol, you can type it via <kbd>Alt</kbd>+ numpad <kbd>0</kbd><kbd>1</kbd><kbd>6</kbd><kbd>9</kbd>.

[2017-06-16 13:53] CharliePoole commented on #12
I switched the samples to MIT and will do some PRs for them.

[2017-06-16 13:56] CharliePoole commented on #12
Everything I have read from lawyers says to use (c). I used to use © but changed it everywhere after learning that. This really isn't an area where you go by personal preference.

[2017-06-16 13:59] jnm2 commented on #12
@CharliePoole :-/ Everything I am finding seems to say, if anything, © is the canonical legal symbol. But I need to know because I use it. Can you point me to legal advice on this?

[2017-06-16 14:09] CharliePoole commented on #12
I ended up doing the samples directly in master, since all I did was add the license file.

[2017-06-16 14:26] CharliePoole commented on #12
@jnm2 I had explicit info in the way-back saying not to use that symbol because of issues on systems that use different character sets. It would not surprise me to see it different today, but I'm pretty sure our old copyright notices are still good - many works from the past continue to use it. I'm not inclined to change it at least till somebody gives us legal advice that says we should.

Much of

[2017-06-16 16:45] CharliePoole commented on #17
@Can we decide and then update governance.md and projects.md?

[2017-06-16 16:53] jnm2 commented on #17
I'm fine with central/secondary.

[2017-06-16 17:25] CharliePoole commented on #17
I like Primary / Secondary if we don't want Strategic.

[2017-06-16 20:05] ChrisMaddock commented on #17
My favourite of what's been suggested would be "Key Projects" (And Secondary Projects). I'd be happy with central/secondary, then primary/secondary - in that order. @CharliePoole - as I think you are trying to tie this up - please consider me happy with any of those.

I'm afraid I'm not a fan of 'strategic' - perhaps it's just not a term I'm used to. 🙂

[2017-06-16 20:08] ChrisMaddock commented on #17
And in response to the earlier comments - I like 'core team', as a well-recognised term for the 'main guys' in an open source project. I'm not sure how we want to use it is strictly the conventional use, which is perhaps more 'core committers', but that doesn't worry me too much. In other words - I agree with Terje. 😄

[2017-06-16 23:05] CharliePoole commented on #17
Trying to tie this up...

1. I think the consensus is that we keep Core Team.

2. Everybody has a different favorite for projects. My take is that Key Projects / Secondary Projects displeases the fewest people. Can we agree to go with that?

[2017-06-17 02:24] rprouse commented on #12
PRs are up for the four projects that I said I would update. Links above.

[2017-06-17 02:25] #18 closed

[2017-06-17 02:50] jnm2 commented on #17
So when writing documentation we use the terms 'key' and 'secondary' for consistency, and when speaking amongst each other, it probably doesn't matter a whole lot. At least not in the same way as the label used to refer to our team.

And I like Core Team, too, now that I know it has the correct connotations and is recognized as an OSS term.

I appreciate each of your input.

[2017-06-17 03:59] CharliePoole commented on #17
@jnm2 We haven't done a PR to change the docs yet

[2017-06-17 13:39] ChrisMaddock commented on #12
@CharliePoole - there seems to be some left over bits and pieces in the samples repos. I'll PR them now, as I assume they were just missed - will leave you to double check before merging if that's ok.

[2017-06-17 13:42] ChrisMaddock commented on #12
Actually - there's more to this than I thought.

Some of the samples files contain this copyright notice

[code]

Given there's now an MIT licence in root - I assume we should remove that notice entirely?

[2017-06-17 13:44] rprouse commented on #12
I think so, those are left over from the license change between NUnit 2 and 3

[2017-06-17 13:50] ChrisMaddock commented on #12
Ok, I'll run through them quickly now.

[2017-06-17 15:08] CharliePoole commented on #12
My mistake! I looked at a few source files for each language and didn't hit any with headers, so I thought that none of them had it. Also searched for copyright - but these headers didn't have any.

[2017-06-17 20:14] ChrisMaddock commented on #12
Ah - lucky I searched 'license' then!

(Well...'licence' first, because Americanisms...but eventually 'license'! ;-) )

[2017-06-19 17:31] CharliePoole commented on #13
I have had an email response from Jon at the .NET Foundation. He is telling me something different from what I had previously gotten from Martin. I've sent him a note asking for clarification and suggesting we talk on the phone for a speedier resolution. This note is so the team knows what is going on.

Specifically, Jon tells me that if we join the .NET Foundation, all of the projects we put unde

[2017-06-21 16:18] CharliePoole opened #21 "Moving GUI Projects"
[I'm planning to continue to work on the nunit-gui in the future, separate from the NUnit Project. This is for various reasons, among which are...

 * I think a bit of separation will help both me and the NUnit team move in our different directions a bit more smoothly. The gui will be one of my biggest focuses so, even though I plan to continue on the Core Team and contribute where I can, I'll be

[2017-06-21 16:19] CharliePoole commented on #21
Forgot to mention... regarding timing... if you agree, I will do this right after the 0.4 release of nunit-gui.

[2017-06-21 16:27] CharliePoole commented on #21
One more forgotten bit... details of implementing this, beyond just doing the transfers will be discussed with the existing gui team, but I can't write the issue until we decide pro or con the use of a transfer rather than a fork. 😄

[2017-06-21 16:51] ChrisMaddock commented on #21
Given you've solely led the GUI project Charlie, and I think it's prospects look brightest under your direction, I don't think we-the-NUnit-Organization should stand in the way of this move - but I'm a little uncomfortable that you feel the need to move this out of the organisation, to take it where you want to.

On your points above:

1. I think only you have the understanding of how you feel the

[2017-06-21 16:57] ChrisMaddock commented on #21
I'll be succinct.

I'd support a transfer over a fork, as I think that's the best option for the wider NUnit eco-system. I think it's a shame that this seems necessary.

[2017-06-21 19:22] CharliePoole commented on #21
@ChrisMaddock Thanks for your comments and your support.

I guess I want to put this in a different perspective for you. Splitting into many projects was the goal I started working for around 2009. That's why NUnit has layers and that's why we haven't had a GUI till now. The idea of __not__ splitting but instead having a sort of federation of projects called the NUnit Project came up more recently

[2017-06-21 19:38] jnm2 commented on #21
The projects are already separated. We typically talk about the benefits of moving projects *to* the NUnit org. Can you help me understand what the benefits are of distancing the GUI project from the NUnit organization?

[2017-06-21 19:45] CharliePoole commented on #21
@jnm2 Don't the four points I listed tell you why I want to do it? Which ones need more explanation?

[2017-06-21 19:48] CharliePoole commented on #21
@jnm2 "We typically talk about the benefits of moving projects _to_ the NUnit.org"

Actually, in our discussions of governance, I've tried to talk about the fact that __many__ projects may not benefit at all from such a move. I have suggested that we should take in a contributed project only if it was of benefit to __both__ the NUnit Project __and__ the incoming project. To be honest, my impressio

[2017-06-21 20:28] jnm2 commented on #21
@CharliePoole I don't yet see a concrete reason why we wouldn't keep it in the org and achieve your goals. For 1 and 4, I'm already ignoring the project because GUI work isn't my favorite and there's other work to be had. For 2, why not just change the GUI project to GPL while it's still in the NUnit org when and if the time comes? For 3, you'll want a second org anyway for a commercial product. W

[2017-06-21 21:37] CharliePoole commented on #21
@jnm2 Just so I understand... your points are about my primary decision to no longer develop this as a part of the NUnit Project, which you would like me to reconsider - right?

I really hesitate to go too deeply into my reasons, because it would be very easy for them to be misinterpreted as a criticism of you and others or the direction the project is going. There seems to be a little of that in

[2017-06-21 21:50] jnm2 commented on #21
Alright. There's a lot more backstory than I was aware of. =)

[2017-06-21 23:00] CharliePoole commented on #21
@jnm2 Of course, you weren't around! 😄

Even so, many people who were around might only be aware that I think it's a good way to go for the benefit of NUnit and the open source ecosystem. My personal desire to do some projects on my own has arrived only recently - a few years.

I hope you and everyone can see that as just a matter of life changing and my feeling like doing other things. Like 26 ye

[2017-06-22 01:12] CharliePoole opened #22 "Website contents"
Issue nunit/nunit.org#57 is about transitioning the website.

My general plan is to turn over nunit.org to the project and use nunit.com for my commercial work. Right now they all point to the same thing, so that will have to change.

In order to even do a plan or proposal, I need a few bits of info from the Core Team.

1. Do you want to maintain the legacy docs? If not, I'll keep them on nunit.co

[2017-06-22 15:38] rprouse commented on #21
This has been the plan for a long time, so I don't have anything to add except that I think a transfer is the best option.

[2017-06-22 16:36] CharliePoole commented on #21
With the comments so far, I'm going to start an issue for the details on nunit-gui. Everyone should feel free to participate, of course.

[2017-06-22 22:26] rprouse commented on #22
I am happy to take on the costs of hosting and the domain. If we join the .NET Foundation, they can help with that, but it isn't enough money for me to worry about. I can also use my Azure credits for hosting, or we can switch to a GitHub site and get the hosting for free. We already have an experimental site here in the organization. https://github.com/nunit/nunit.github.io and http://nunit.githu

[2017-06-22 22:28] rprouse commented on #22
For the GitHub.io site, I think the big objections previously was re-instating @CharliePoole's blog on the site and maintaining documentation. I assume the blog will go to NUnit.com and we can make a call on the documentation. Is there anything else we should consider?

[2017-06-22 23:52] CharliePoole commented on #22
That's enough info for me to get started. I'll split things up a bit and there will be time to review as you move to GitHub or another location. It can also stay on AcornHost for a time while we work on it. The "webmaster" job I was thinking of was basically doing design, managing the DNS and the hosting. I guess that will be you at least initially.

[2017-06-23 01:31] jnm2 commented on #22
Whatever we do with hosting, I would like to hold open the possibility of migrating our wiki to the NUnit website.

[2017-06-23 13:58] ChrisMaddock commented on #22
I'd like to see us put reasonable effort into keeping the legacy docs online and not breaking links - whether that's retaining the current URLs, or putting in some sort of URL forwarding solution. I imagine there will be hundreds of links to those docs pages littered across the internet by now. Unfortunately, the how-to of that really isn't my area! (This is also an 'ideal' - I'm becoming very awa

[2017-06-23 14:03] ChrisMaddock commented on #22
A request - nunit.com is a domain which has pointed to the same as nunit.org for a long time. Again, thinking of historical links, I imagine there will be many which point to nunit.com.

Would it be possible to maintain a clear link from nunit.com to nunit.org, once .com is being used for a different purpose?

[2017-06-23 16:05] CharliePoole commented on #22
Thanks @ChrisMaddock both are good suggestions.

[2017-06-24 18:17] #10 closed

[2017-06-24 18:42] CharliePoole commented on #11
I created a page at https://github.com/nunit/docs/wiki/Notes-Toward-NUnit-4.0 with the wording we discussed for the teamcity extension. If it looks OK, we need to figure out where to link it in the menu. I'm thinking it can be top-level in the Developer section.

[2017-06-26 15:52] CharliePoole commented on #22
Thinking it over, I'm not sure whether I will have a need for nunit.com. It depends on that business plan that I'm not yet ready to do. So I'm thinking I'll keep all the domains for now - they don't expire till next year anyway - and manage the DNS to point all three to the same place.

When we are ready to go to GitHub, I'll change all three to point there. I'll also take some steps to be able to

[2017-06-27 17:31] CharliePoole commented on #11
@nunit/core-team I'd like to close this. Any comments?

[2017-06-27 17:38] OsirisTerje commented on #11
We're not blocking anyone by this, are we ?
From the options on top, I think option 3b looks like the most nice one right now.

[2017-06-27 17:49] ChrisMaddock commented on #11
Looks good to me. Maybe it would be good for the new wiki page to reference @NikolayPianikov's post above, as JetBrains' response to the issue.

https://github.com/nunit/governance/issues/11#issuecomment-308443900

[2017-06-27 17:54] CharliePoole commented on #11
@OsirisTerje Only thing blocked is my own checklist of things I'm supposed to complete by June 30!

I think we are past the option choices, having said we will stop distributing the combined package with the 4.0 release. I'm just trying to get the details of the notice out of the way now.

@ChrisMaddock That comment doesn't really say much except that we'll try to make it as easy as possible on us

[2017-06-28 11:50] ChrisMaddock commented on #12
@CharliePoole - Was just looking at nunit-distribution today - that contains a .txt and .rtf licence which are both (c) Charlie Poole - although it will now be used for the console, which is (c) Charlie Poole and Rob Prouse. (And the extensions - although they're currently just (c) Charlie Poole.)

Is it maybe worth updating the two licence files in nunit-distribution, while we're here? I presume

[2017-06-28 13:08] jnm2 commented on #12
Lol I thought 'licence' was a Britishism! In the US I think the only correct spelling is 'license.'

[2017-06-28 13:58] CharliePoole commented on #12
@ChrisMaddock Feel free to keep both your spelling and your nationality. :smiley:

[2017-06-28 17:18] CharliePoole commented on #21
I created wiki pages on both the nunit-gui and nunit-project-editor repos. Our docs repos still has the same pages. I didn't want to make any changes without hearing how you guys want this to be handled in the wiki. In my mind, this  serves as a test case for other separated projects with which we want to link.

Keeping the pages doesn't make sense, since they won't be getting updated as the appli

[2017-06-28 17:19] CharliePoole commented on #21
At this point, I propose to delete the Gui Team. What do you all think?

[2017-06-28 17:26] jnm2 commented on #21
Yes, not sure what we would need it for now.

[2017-06-28 17:34] CharliePoole commented on #21
Maybe it's a no-brainer. It no longer gives you access to anything except docs and resources.

[2017-06-28 17:49] jnm2 commented on #21
Let's delete it and if lots of people need access to docs and resources, we create a team for that.

[2017-06-28 17:52] CharliePoole commented on #21
I think most teams have access to those. I'll remove.

[2017-06-28 18:17] ChrisMaddock commented on #21
2 sounds the most sensible to me, although I feel like that could be a list that grows. Although I'm not sure that's a problem. 😄

[2017-06-28 18:19] rprouse commented on #21
I think either solution is fine although 2 gives more options to add more info if needed.

[2017-06-28 18:45] CharliePoole commented on #21
I'll go with 2. It's easy for anyone to change, so I'll just do it.

@ChrisMaddock I'm pretty sure it wouldn't be a problem. :smiley:

[2017-06-28 20:16] ChrisMaddock commented on #12
Yanks... *rolls eyes*

😉 Only joking! @CharliePoole - not sure if you saw my post from today, alongside my whining about spellings from last week? https://github.com/nunit/governance/issues/12#issuecomment-311637002

[2017-06-28 21:23] CharliePoole commented on #12
Ah no I missed the byplay, so didn't understand why your spelling was being critici[z|s]ed.

[2017-06-28 23:24] CharliePoole commented on #21
It's hard to show you what it will look like without doing it - so I just did it. Please look at the various sidebars in each project and at home. If Home looks OK, I'll change README.md to match it.

[2017-06-29 00:01] rprouse commented on #21
Looks good to me. Only suggestion is maybe change the title to **Related External Projects**?

[2017-06-29 00:04] rprouse commented on #12
Personally, I'll stick with the spelling of the people that invented the language and try not to be overly influenced by my neighbors to the south 😄

[2017-06-29 01:24] rprouse commented on #11
I think we've had plenty of discussion and think we can close 😄

[2017-06-29 02:41] rprouse commented on #13
@CharliePoole anything back from Jon or Martin on this? I find their change in policy to be odd. I am hoping it is just because Jon is new in the role.

[2017-06-29 02:42] jnm2 commented on #13
Your style may vary, but I have found politely taking to Twitter to be motivating for people because it's so visible.

[2017-06-29 02:49] jnm2 commented on #12
The footers in these sections say, `Copyright (c) 2016 NUnit Software`:
https://github.com/nunit/docs/wiki/NUnit-Xamarin-Runners
https://github.com/nunit/docs/wiki/Visual-Studio-Test-Generator
https://github.com/CharliePoole/nunit-project-editor/wiki/Project-Editor (says 2017)

https://github.com/nunit/docs/wiki/Visual-Studio-Test-Adapter has no footer.

What would you like to do?

Awhile back I h

[2017-06-29 03:43] CharliePoole commented on #11
Where would you like that page linked?

[2017-06-29 04:07] CharliePoole commented on #13
I haven't given it priority since I took the issue off the list of things to accomplish before vacation. I'll send something again and give twitter a shot, much as I detest that kind of shaming.

[2017-06-29 04:15] CharliePoole commented on #12
There is a list of things that may not be done (successfully) online in the wiki. Off the top of my head...

* Creating a new page
* Editing a sidebar
* Editing a footer

This all goes back to the fact that the wiki engine treats the hierarchy of pages as if it were a flat list.

[2017-06-29 04:16] CharliePoole commented on #12
Unfortunately, this is well known to some of us and we haven't made a point of telling people until after they get it wrong. 😈

[2017-06-29 04:17] CharliePoole commented on #12
Regarding different footers in different sections, i think you should leave them to the people responsible for those sections.

[2017-06-29 18:59] jnm2 opened #24 "Standards for IDE support"
Carrying on from https://github.com/nunit/nunit3-vs-adapter/pull/347#discussion_r124867822

I strongly feel that standards should be set as much as possible by each project lead independently from the Core Team.

The one standard I could see value in is to be as inclusive as possible for outside contributors. Things like which versions of VS/MonoDevelop/Project Rider can be used to build the repo

[2017-06-29 19:48] CharliePoole commented on #24
Our rule already __is__ that project leads set the standards for the project, at least that's how I intended the docs to be read. To your points...

1. I think that a project lead __should__ maintain backward compatible solutions where appropriate. I don't think it's a governance issue, however. The lead's team and collaborators and users have to tell him if he messes up.

2. Again, we have a doc

[2017-06-29 20:41] jnm2 commented on #24
@CharliePoole This is in response to you saying C# 6 is the standard and:

So hopefully this is where we decide what, if any, standards are imposed. I don't know what it means to "impose" a rule from the core team level either, but let's discuss.

So that contributors and maintainers can look at something and know what to expect and how to proceed.
My preference is that it isn't even a policy but

[2017-06-29 21:42] CharliePoole commented on #24
@jnm2 Exactly... this is where we would decide about standards being imposed. As you know, I advocate very thin standards for teams. For managers over teams, I advocate zero standards... or at least nothing more than telling the teams they should have a standard of some kind and might want to consider writing it down.

So, I answered you about the four items and which should be imposed: none of th

[2017-06-29 21:43] CharliePoole commented on #24
BTW, C# 6 is about the only coding standard we have decided as a body up to now. At least IIRC we said that the "Key Projects" should use C#6 as the standard.

[2017-06-30 16:57] CharliePoole commented on #13
Here is the key info from the answer I got from the .NET Foundation. I'm forwarding the entire correspondence to the Core Team members.

Since it's __posible__ to set up an arrangement, I'll go on the assumption that we will. I'm assuming that the new chair will take on this issue and work with me on the question of my copyrights.

[2017-07-04 22:54] #11 closed

[2017-07-04 23:00] CharliePoole commented on #12
AFAIK all the details are done for this issue and what remains is a document to be written. I'm postponing working on it until I return but if somebody else decides to take it up I'm OK with that too.

[2017-07-07 12:55] ChrisMaddock opened #25 "Decide about Donations"
@rprouse commented on [Fri Jun 30 2017](https://github.com/nunit/nunit.github.io/issues/6)

The main NUnit site has a donations button and donations page. This was mirrored on the GitHub page. The donations currently go to @CharliePoole to pay for hosting and domains. The @nunit/core-team should decide if we want to continue this and if so where the money should go. This might belong in the govern

[2017-07-07 16:19] jnm2 commented on #25
As to where the money should go, @CharliePoole says it's silly to keep sending it to him but what are the options? It would be nice if there was a transparent account it could go in, but I know nothing about such things and I don't want to inflict overhead on us right now.

Seems like the kind of thing the .NET Foundation has guidance on.

[2017-07-07 16:20] jnm2 commented on #25
Seems like the kind of thing the .NET Foundation has guidance on.

[2017-07-07 16:55] CharliePoole commented on #25
@jnm2 The .NET Foundation would take the donations if we were a member and hold them for us in some way. Even starting today, I imagine that it would take a while before that can be in p.lace.

As far as guidance, it seems fairly obvious. Unless / Until we use the .NET Foundation, we need to either stop taking donations or find a place to hold them. For the short term, I don't care much how transp

[2017-07-07 19:10] rprouse commented on #25
I would prefer to see download promoted on the front page and I think any decision we make may change if we join the .NET Foundation.

How about we comment out the buttons for now and then revisit this after we make the decision on the .NET Foundation?

[2017-07-07 19:13] rprouse commented on #13
I think everyone has stated that they are in favor of moving forward with this except for @OsirisTerje. Am I correct that you are still in favor @CharliePoole?

This is a pretty big decision, so I would prefer if we were all in agreement. If everyone likes the idea, I will get in touch with Jon and get the ball rolling.

[2017-07-07 20:30] CharliePoole commented on #25
That makes sense to me. I think it would be great if each of the latest downloads could be accessed directly from a panel on the front page.

[2017-07-07 20:34] CharliePoole commented on #13
I think so. It's not the perfect choice but it seems to beat all those available without setting up our own non-profit organization. The discussion will be about the details.

What I know from my discussions is that we don't have to give them every project at the same time. The agreement will have an addendum that lists the projects we are putting under them and we can update it over time.

Regard

[2017-07-07 20:51] OsirisTerje commented on #25
Really makes sense to me too.
Focus on downloads, makes it real easy for the users.    If space, also point to the documentation wiki.

[2017-07-07 21:01] OsirisTerje commented on #13
Didn't I chime in?   I must have missed that, but I thought I expressed my positive opinion to joining the .net foundation long time ago.  Well, well - at least, I can confirm it now :-)

[2017-07-09 12:11] ChrisMaddock commented on #25
Sounds good

[2017-07-09 16:56] jnm2 commented on #25
Sure.

[2017-07-31 19:12] rprouse commented on #13
We have decided to join the Foundation and I have started the process. I am going to close this issue and open a new one to track the progress of the process. I will be priming that issue with the joining process checklist from the foundation.

[2017-07-31 19:12] #13 closed

[2017-07-31 19:15] rprouse opened #27 "On-Board project to the .NET Foundation"
We're getting ready to bring the project into the .NET Foundation, but before we
do we need to do the following:

## Getting into the .NET Foundation
- [x] Make sure the project has a good name that is easy to remember and
 spell. Check that it doesn't [conflict with another existing project](http://ivantomic.com/projects/ospnc/)
- [x] Make sure the people involved in the project want to join the

[2017-07-31 19:34] rprouse commented on #27
CC @jongalloway

[2017-08-01 12:33] CharliePoole opened #28 "Decide what to do about the 3rdparty-runners list"
We have not been using this list for a while - since the 3.0 release I think. We should either kill it or create something elsewhere.

[2017-08-01 12:48] ChrisMaddock commented on #28
List, as in mailing list? Whereabouts is this list?

Definitely sounds useful. 😄

[2017-08-01 13:02] CharliePoole commented on #28
Yes, mailing list. We set it up to give info to third-party runner authors and get feedback from them. The archives are here: https://cpanel.nunit.org/cpsess1527946816/3rdparty/mailman/private/3rdparty-runners_nunit.org/

Not sure if you have to be a member to see it. In case you can't, the last post was in February 2016.

My own view is that this list was not very useful. Vendors tend not to want

[2017-08-01 17:42] CharliePoole commented on #27
A few items I think should be added:

* Decide which software is to be placed under the foundation, and decide on a schedule.
* Some of the items then fall under a "for loop" - for each piece of software.
* Determine how to handle copyright for each item (assignment versus license)
* Create an updatable addendum to the agreement with the foundation that lists software contributed or licensed.

[2017-08-01 17:44] CharliePoole commented on #27
@rprouse You struck some stuff out of the task list. Can you explain the intent?

[2017-08-01 22:15] rprouse commented on #27
@CharliePoole the two items that I struck off the list are only applicable if we turn the copyright over to the .NET Foundation. We will not be changing the copyrights on our software or on the website.

The list was taken from the Foundation's checklist. We can add steps to it if required, but would it not be easier to treat all projects the same way? We decided on license vs assignment for the m

[2017-08-01 22:24] rprouse commented on #27
My previous post was getting long, so I am separating out the calls to action 😄

1. Does anyone on the @nunit/core-team have any objections to licensing the included projects to the .NET Foundation? If so, which projects and why?
2. @CharliePoole, @jcansdale, @JasonBock and @NikolayPianikov, would you also like to include your projects in the license to the .NET Foundation. Licenses will not chang

[2017-08-02 00:33] CharliePoole commented on #27
@rprouse

[2017-08-02 00:40] OmicronPersei commented on #27
Probably a stupid question but... what does this mean?  Googled ".NET Foundation" but unsure how we relate?

[2017-08-02 00:42] CharliePoole commented on #27
@rprouse I don't know when we decided that none of the software copyrights would be assigned to the foundation. I certainly raised an objection to it in principle for some software for which I hold copyright, but I didn't think it was resolved. I can go along with a decision that none of the copyrights will change if that's what you prefer, but I could also wait to see the actual legal agreement.

[2017-08-02 00:53] CharliePoole commented on #27
@rprouse

"@Charlie Poole has already moved the repositories that he does not want to turn over."

I guess I didn't succeed in explaining myself. My moving of two projects out of the nunit organization was only peripherally related to the .NET foundation. The reasons were in fact different for each one. We can go into them again if anyone has concerns.

In any case, I continue to have opinions abo

[2017-08-02 01:05] CharliePoole commented on #27
@rprouse Continuing to try to split out individual issues...

I'm not clear on why some projects are listed as "Include" and others as "Include if primary contributor agrees." Wouldn't all projects be in the second group initially?

I do understand your desire to shorten the discussion but I'm doubtful that trying to discuss everything at once will do the job.

It seems to me that there are a numb

[2017-08-02 02:40] jongalloway commented on #27
@CharliePoole  I added both standard license agreements (assignment and contribution) to our repo here: https://github.com/dotnet/home/tree/master/guidance

[2017-08-02 02:46] jongalloway commented on #27
@OmicronPersei The overall mission of the .NET Foundation is spelled out here: https://dotnetfoundation.org/about

Let me know if you'd prefer audio or video - I've done some recent conference talks and podcasts about what the .NET Foundation does. Big picture is that it exists to support open source .NET. That includes larger corporate sponsored projects (like CoreCLR and CoreFX) and community ru

[2017-08-02 08:41] ChrisMaddock commented on #27
@rprouse I'd be happy to include all the projects you listed. I don't see why whether a project is 'currently active' or not should be a concern.

[2017-08-02 08:50] NikolayPianikov commented on #27
@rprouse I have no objection about teamcity-event-listener and .NET Foundation

[2017-08-02 09:30] CharliePoole commented on #27
@ChrisMaddock Take any project that we categorize as archived... e.g. .NET CF build of the framework.

In our governance document, we say about such projects:

"These are projects we no longer maintain, but which have the last version of the source code available in case someone needs to take them up again"

WRT the .NET Foundation, it seems to me...

1. There is no advantage to adding them
2. The

[2017-08-02 09:56] CharliePoole commented on #27
Our `projects.md` document lists five categories of projects:
 * Core Projects
 * Secondary Projects
 * Pre-production Projects
 * Contributed Projects
 * Archived Projects
Most of these have a single repository although some have several. There are also some repositories not belonging to a project, as we defined it in our governance docs. My working assumption is that the .NET Foundation guidance

[2017-08-02 10:07] CharliePoole commented on #27
@rprouse Special consideration regarding NUnitV2...

I am not the "primary contributor" for that software. The copyright lists four of us and we are all primary contributors. As stated in a separate post, I don't think that merely archived software should be placed under the foundation anyway. But doing it for this software would face the added burden of securing agreement of at least all the copy

[2017-08-02 10:20] CharliePoole commented on #27
@rprouse My understanding from earlier conversations is that the purpose of an addendum listing projects is to facilitate later on-boarding of new projects we create without redoing the agreement. I believe it's used for organizations that support more than one software project, like us.

@jongalloway Can you confirm or explain further?

[2017-08-02 13:00] rprouse commented on #27
I may have mistakenly mixed up the Assignment and Contribution agreements above. If I did, I meant the Contribution agreement which grants a license. I stated above "We decided on license vs assignment for the main projects" and "Does anyone on the @nunit/core-team have any objections to licensing the included projects" so I thought that was clear.

I am proposing that we contribute all projects i

[2017-08-02 13:17] CharliePoole commented on #27
Yes, the earlier answer was clear. It came after my question. I agree that we decided for the main projects (called core in our docs) and also that we should do all projects the same way.

I'm just trying to be a stickler for correct process in what is likely to be our most important decision for quite a while as a governing body. We don't allow lazy consensus agreement on important governance mat

[2017-08-02 13:28] rprouse commented on #27
@CharliePoole we are in agreement about core and secondary projects except maybe on the assign vs contribution question.

My feeling is that if we as a team join the foundation, then all projects that we work on should be under the foundation and covered by their CLA and code of conduct. To do otherwise would be confusing for everyone. Based on that, my starting position is that as many projects a

[2017-08-02 13:33] rprouse commented on #27
Based on my above discussion, I am going to call for votes on a few things so that we can move on. @nunit/core-team please vote on each of my vote items using the Thumbs Up or Thumbs Down reactions to each comment. I don't think this is sensitive enough to call for a private vote. If anyone feels otherwise, please contact me via email.

## First Vote

I propose that all projects that we contribute

[2017-08-02 13:35] CharliePoole commented on #27
@rprouse Point I was making with NUnitV2 is that I alone can't decide on copyright. If we are merely licensing, I can. I don't see putting this or any other project we are not maintaining under the foundation.

NUnitlite does not have the same issue with copyright but is also not maintained.

But you are including other non-maintained projects, which is the source of my confusion.

[2017-08-02 14:12] rprouse commented on #27
## Second Vote

I propose that we contribute all Core, Secondary, Contributed and Archived Projects except for,

- nunit3-tdnet-adapter (@jcansdale)
- nunit.analyzers (@JasonBock)
- teamcity-event-listener (@NikolayPianikov and JetBrains)

**Nobody else had voted yet, so minor amendment,** If the .NET Foundation does not want us to contribute our Archived projects, we will produce that list and no

[2017-08-02 14:19] rprouse commented on #27
## Third Vote

I propose that the following projects be moved to the organizations or accounts of their main contributors.

- ~~nunit3-tdnet-adapter to https://github.com/jcansdale~~
- nunit.analyzers to https://github.com/JasonBock
- teamcity-event-listener to https://github.com/JetBrains

I would encourage but not require @jcansdale to contribute the nunit3-tdnet-adapter to the .NET Foundation a

[2017-08-02 14:52] CharliePoole commented on #27
I voted yes on the **first vote** because it makes sense.

I voted no on the **second vote** because of archived projects. I agree with everything else. I'll restate my problem with contributing them here:

1. It pre-judges what we expect to happen if and when somebody decides to maintain them. Rob stated as much: "If someone picks them up again, I would like to see that under the guidance of the

[2017-08-02 14:56] ChrisMaddock commented on #27
@rprouse - would you consider another amendment to your Second Vote to exclude NUnit v2 and nunitlite? I took it as evident from the above discussion that we don't have the rights to licence these projects to the .NET Foundation without contacting the copyright holders, which sounds like more effort then it's worth for archived projects. The path of least resistance here would seem to be to keep t

[2017-08-02 14:58] ChrisMaddock commented on #27
(Rob - I've withheld my latter two votes pending the above. On point two, I think that may just be an oversight. Point 3 I'm generally in favour, however think the TeamCity situation should hear from the relevant parties. 🙂 Sorry to slow things down!)

[2017-08-02 15:17] CharliePoole commented on #27
@rprouse I think our messages are overrunning one another. I believe I have already answered WRT NUnitV2 and NUnitLite. If it got lost in the onslaught of messages, let me know.

To clarify an earlier comment, I objected to your use of lazy consensus - not to consensus itself. I think it's a pity that we are resolving this by majority vote.

@ChrisMaddock Your (and others) slowing things down is p

[2017-08-02 15:28] CharliePoole commented on #27
@rprouse In addition to NUnitV2 and NUnitLite 1.0, our archived projects include:
 * NUnit for Compact Framework
 * NUnit for Silverlight
 * Dotnet Test NUnit
 * NUnit Portable Agent

As I read the foundation documentation, contributing them would mean changing all headers in these unmaintained files. Is that your understanding as well? If so, is this an effort it's worth putting in?

Of the above

[2017-08-02 15:29] CharliePoole commented on #27
@rprouse Would you accept an amendment to your second vote that removes archived projects for subsequent discussion and decision? I could vote yes to such an amended proposal.

[2017-08-02 15:31] CharliePoole commented on #27
@ChrisMaddock On the third vote, you mention JetBrains being consulted. What about Jamie's adapter?

[2017-08-02 15:38] rprouse commented on #27
To try to reach consensus, I have amended the second vote to exclude all archived projects including NUnit 2 and NUnitLite. Please revote if you desire.

I have also amended vote 3 to allow TDNet to remain in the organization. I hope that @jcansdale will join us in licensing to the foundation, but that is his decision. If he does not, then I only ask that we indicate as such in the readme.

I howe

[2017-08-02 15:39] rprouse commented on #27
Done

[2017-08-02 15:50] CharliePoole commented on #27
@rprouse Changed my vote. Note to anyone doing this in the future: it took a few refreshes for my original vote to disappear

I understand why you set it up as a vote. Sometimes you need to get people's attention and it seems to have worked. Several people are holding back, I hope they will at least comment about their views even if they can't decide on a vote yet. If we don't hear from you, we ca

[2017-08-02 15:59] ChrisMaddock commented on #27
Only because @rprouse had already written into his proposal about Jamie being consulted. 🙂 Also, thanks for your clarification on the older projects.

Revoted for the second - I'll hold off on the third till we've heard from Nikolay. My personal thinking is the project would be better with JetBrains - but I have little to do with it, and happy to be persuaded otherwise.

FWIW, I think it helps to

[2017-08-02 22:07] jcansdale commented on #27
@rprouse

I would be happy to. 👍

This is a fast moving thread, you lot have been busy!

[2017-08-03 15:00] jnm2 commented on #27
@OmicronPersei See also the recent conversation leading up to this: https://github.com/nunit/governance/issues/13 Everything prior had been over email which we're moving away from for things like this (thus the governance repo).

[2017-08-03 15:01] jnm2 commented on #27
Everything else has been over email which we're moving away from for things like this (thus the governance repo).

[2017-08-03 15:15] jnm2 commented on #27
Before I vote on the [first question](https://github.com/nunit/governance/issues/27#issuecomment-319673366), I'm unsure what it is we're agreeing to here (from https://github.com/dotnet/home/blob/master/guidance/NET%20Foundation-Contribution%20License%20Agreement%20(form%20rev%201.1).docx):

Given that we have a strong preference for retaining control of the copyright, how much control do we retai

[2017-08-03 15:18] jnm2 commented on #27
I'm happy with the "Contributor Marks License" section, though I don't see that it necessarily constrains the "Contributor Marks Disclaimer" in any way which is the section I'm concerned about.

[2017-08-03 15:31] CharliePoole commented on #27
@jnm2 The two sections are mutually exclusive. In signing, you select one check box or the other. If you check "Disclaimer" then you are giving up right to any trademarks. If you check "License" you are retaining the trademarks and licensing them to the foundation for use. I assume we will license.

Note that we are voting right now on the general approach we will take. My assumption is we will re

[2017-08-03 15:35] jnm2 commented on #27
Just so everyone knows, if I haven't replied, it's not because I'm waiting to see something first. It's because I'm swamped and haven't looked at it yet. I try not to let more than a couple days go by but if I'm holding you up– or who knows, if all my GitHub notifications get lost which FastHub did to me recently– email will get my attention in a more timely fashion.

[2017-08-03 15:39] jnm2 commented on #27
Re: my no vote on the [third question](https://github.com/nunit/governance/issues/27#issuecomment-319686668):
I'm always in favor of making the smallest change possible to get where we want to be. I don't see any reason we couldn't keep all projects where they are and simply mark the ones that aren't added to the foundation like we're discussing for the archived projects.

[2017-08-03 19:09] jnm2 commented on #28
I think we can safely kill it in favor of our other channels of communication. A distinction won't be helpful unless there is so much traffic it deserves its own channel.

[2017-08-03 22:50] rprouse commented on #27
We seem to have consensus on votes 1 and 2 minus @OsirisTerje who hasn't voted yet. Let's table vote 3 and just mark the projects as such as we will have to do for the archived projects too.

Next steps are in the .NET Foundation's hands. Jon will submit to the advisory council and then to the board. If/when NUnit is accepted, we will review the document that we are asked to sign. I have given Jon

[2017-08-04 19:55] OsirisTerje commented on #27
Sorry guys, I have been on the road for a few days, back home now, so I have voted affirmative on 1 and 2.  I am struggling with the Vote 3, but I see more than I do.

[2017-08-05 19:50] rprouse commented on #28
I say we kill it. If anyone wants to talk 3rdParty runners, they can do it on the developers list.

[2017-08-05 20:48] CharliePoole commented on #28
I'll send a notice on it and then delete it.

[2017-08-05 21:32] CharliePoole commented on #28
I sent the final messages but as sender I don't think I'll see them. Somebody post when you see either one please.

[2017-08-07 00:17] CharliePoole commented on #28
Finally got back an undeliverable notice. I guess this got messed up with all the DNS changes. It seems silly to fix it so I can send the notices and then immediately delete it. I'm just moving ahead with the deletion.

[2017-08-07 00:21] #28 closed

[2017-08-24 14:35] rprouse opened #29 "Decide on Project to Contribute to the .NET Foundation"
We've agreed in #27 to contribute all of our primary and secondary project to the .NET Foundation under a contribution agreement and not contribute archived projects. That issue is getting long, so I am starting a clean one so that we can confirm the project list and make sure I didn't make any mistakes. Once we confirm, I will send the list to Jon.

I am working off of the [NUnit Software Project

[2017-08-24 16:26] OsirisTerje commented on #29
The nunit-vs-testgenerator should be contributed.  It originally came from MS, so just natural that it follows along.

I would also love to see the NUnit.Analyzers moving along,  I know it doesn’t have much progress, but the idea and skeleton makes sense.  It is early, but still……

Regards
Terje

[2017-08-24 16:41] rprouse commented on #29
I agree about the test generator, but wasn't sure if we have the right to sign for it. It was donated to us, but without any documentation.

As for the Anayzers, the plan is that pre-release projects will be turned over when they are ready. I like the idea too, but there hasn't been any activity on the project recently.

[2017-08-24 17:16] ChrisMaddock commented on #29
This list looks good to me. 👍

[2017-08-24 17:29] CharliePoole commented on #29
My only question is about NUnit.System.Linq. I don't think that code is ours to contribute.

[2017-08-24 17:32] CharliePoole commented on #29
One more question. Doesn't the foundation make a distinction between the primary copyright holders and other contributors? Do they want both to sign the same thing? What about other contributors beyond the core team? Have you gotten any guidance on this from the foundation folks?

[2017-08-24 17:44] rprouse commented on #29
@CharliePoole the foundation originally asked that the top contributors for the main projects sign. Since that tends to be you and/or me for the majority of the projects and since we have a core team of decision makers, I asked that the core team be the signatories rather than round up top five contributors for 20 projects. Jon was fine with this.

To make sure I wasn't misrepresenting it, I also

[2017-08-24 18:17] CharliePoole commented on #29
That sounds good then. We should look further into NUnit.System.Linq though. It's not contributed by any of us, except for copying the code from Mono.

[2017-08-25 01:48] jnm2 commented on #29
Looks fine here too. :+1:

[2017-08-25 13:07] rprouse commented on #29
Mono is already a part of the .NET Foundation, so the question of NUnit.System.Linq is probably moot 😄

[2017-08-28 13:30] rprouse commented on #29
I have sent this list to Jon Galloway.

[2017-10-12 15:41] rprouse opened #31 "Switch to help wanted and good first issue in all projects"
GitHub is now promoting these specific labels, so we should rename our `up-for-grabs` and `easyfix` to match so GitHub will send people to the repo. I have switched the NUnit and NUnit Console repos, the others need to be done too.

![image](https://user-images.githubusercontent.com/493828/31504693-09a19edc-af41-11e7-92e9-e1f31fba9e74.png)

[2017-10-12 16:57] OsirisTerje commented on #31
Fixed NUnit3TestAdapter and TestGenerator

[2017-10-12 17:00] jnm2 commented on #31
Side note. I pinged GitHub support to see if they'd work with easy-fix and up-for-grabs. I also asked about dotfile configuration if for some reason they don't want to globally recognize them.

Reply:

[2017-10-12 17:13] ChrisMaddock opened #32 "Core Extension Project Leads"
It would be good to have a clear idea of who's responsible for maintaining the 4 core engine extensions. Three motivations for sorting this out:

1. There's been a number of PRs to the VS project loader recently, and currently no clear plan of how these are going to get into a release.
2. @CharliePoole mentioned the other day he was interested in taking some on - we should facilitate that!
3. Thes

[2017-10-12 20:59] CharliePoole commented on #32
I mentioned to @ChrisMaddock in a kind of aside (I should probably stop doing that) that I had previously volunteered to maintain several projects, at different times. This was a long time ago, or seems like it anyway. Meanwhile, other things have happened. I'm planning on doing some other stuff beyond NUnit. I could have room for a project or two if I knew what they were. IMO, the core team has t

[2017-10-12 21:04] rprouse commented on #32
I would love to see someone take responsibility for the extensions if we can find someone. I don't use any of them, so I don't have much motivation to keep them up to date. @charliepoole, if you have someone in mind, do you want to gauge their interest privately?

[2017-10-12 21:26] ChrisMaddock commented on #32
That's what I was aiming to go with this post! 😄

Agreed!

[2017-10-17 23:17] jnm2 commented on #31
We typically remove `up-for-grabs` as soon as the issue is assigned to a contributor but not `easyfix`. Now though, if GitHub is going make `good first issue` issues specially visible to first-time contributors, do we remove that one too? Or should we rename it back and start a new `good first issue` tag?

[2017-10-17 23:18] jnm2 commented on #31
When we decide, we should also send a PR to up-for-grabs.net.

[2017-10-18 12:03] rprouse commented on #31
I don't think we need to do that, the user should be able to see that it is taken.

[2017-10-18 19:27] ChrisMaddock opened #33 "Contribution Proposal: NUnit.StaticExpect"
NUnit.StaticExpect is a library originally written for an in-place replacement of the AssertionHelper syntax - which we are currently [considering removing from the framework](https://github.com/nunit/nunit/issues/1212).

As opposed to the original outdated AssertionHelper class, NUnit.StaticExpect has been expanded to wrap the NUnit's `Assert.That` calls - essentially providing a full, alternativ

[2017-10-18 19:31] ChrisMaddock commented on #33
@fluffynuts - please correct me on anything incorrect above - and add anything you wish to! It would also be worthwhile you having a look through [vision.md](https://github.com/nunit/governance/blob/master/vision.md) - and see if there's anything you think may pose an issue to your plan for the library.

In terms of process, we should now wait to hear from the rest of the Core Team members. 🙂

[2017-10-18 21:57] CharliePoole commented on #33
@ChrisMaddock I'm somewhat on the fence on this proposal, so you may take much of what I say as trying on the objections as a devil's advocate.

First of all, I should say that I do not believe we ever actually decided that the separate AssertionHelper project, if published, would be part of the NUnit organization. I was always a bit on the fence about that question as well. It could have ended up

[2017-10-19 09:43] fluffynuts commented on #33
For what it's worth, I really only have two items on my list of desired outcomes:

1) Discoverability: people who are using AssertionHelper (or who would like to use the syntax) are able to easily find and successfully use `NUnit.StaticExpect` from deprecation notices, via Nuget.
2) Validation: potential users are re-assured in some way that `NUnit.StaticExpect` is endorsed (in some way, even if t

[2017-10-21 12:16] rprouse commented on #33
@fluffynuts I definately see your library in the contrib spectrum. I would love to pull you into the organization and foster your project, but our experience with that in the past is that we don't have the people to keep all of the small projects ticking over and the experience isn't good. So, we as a team need to come up with a better way of supporting third party packages.

One way would be to c

[2017-10-21 13:57] jnm2 commented on #33
Could we whitelist the contrib package maintainers to publish packages under NUnit.*? I can't see that hurting. I agree about the icon. A contrib icon is a great idea so people don't have to figure it out on their own. (Cake did a sweep a few months ago, asking contrib packages to switch to their contrib icon.)

[2017-10-21 14:05] fluffynuts commented on #33
@jnm2 the whitelist idea, if possible, sounds like a good one.
On the matter of icon (and any other matters, tbh), I'm primarily interested in the experience for users of AssertionHelper and any potential users of the syntax who really want to go that route (I'm quite agnostic about it - use whatever works best in your team and project). So if a specific icon (or other branding mechanism) helps us

[2017-10-21 15:06] rprouse commented on #33
I asked about whitelisting. It isn't possible now, but may be in the
future. The whole system is pretty new and there is more work to be done.

For the icon, I would want it to be clearly NUnit derived, but also clearly
not NUnit. Maybe just a blue version?

On Sat, Oct 21, 2017, 10:05 AM Davyd McColl <notifications@github.com>
wrote:

--

Rob Prouse

[2017-10-21 17:19] CharliePoole commented on #33
Thought experiment... let's imagine we figure out how to have good visibility of contrib projects, with icon, nuget support, etc. and implement it. We should have that ability in any case.

In that case, what would be the reasons to include a project in the NUnit organization? My thoughts...

* If the project were going to die without our support, i.e. maintainer moving on and nobody else to take

[2017-10-22 13:12] rprouse commented on #33
Just a quick addition, you can shut off notices to some repositories in the organization. I have done so for a few unless I am @ mentioned.

[2017-10-26 21:55] CharliePoole commented on #12
I'm taking my name off this. I'm not sure if we still need a document or if we do what would go into it.

[2017-10-26 23:26] ChrisMaddock commented on #12
I'm not sure we have anything to write in a document either, and I'm not a fan of making up rules in case we need them in the future.

I suggest we close this issue, and deal with and copyright conflicts as/when/if they arise.

[2017-10-27 01:01] CharliePoole commented on #12
I guess I created it, so I'll close it.

[2017-11-06 03:30] CharliePoole commented on #32
@rprouse I need to follow up on this. Our last communication was back on my birthday, which lasted about four days, so I lost track. 😸

I'd like to tell the guy I'm thinking of what he would do and what criteria or guidelines he would need to follow if it's an NUnit Project project. To be clear, I understand and I'll make him understand that any guidance will be done in a friendly, collaborative w

[2017-11-06 20:31] ChrisMaddock commented on #32
Governance.md seemed a pretty good summary when I was looking round things for NUnit.StaticAssert. (Which is another issue I promise I'm coming back to...busy few weeks!)

[2017-11-06 21:18] CharliePoole commented on #32
@ChrisMaddock Good thought. I used a snippet from that to explain the job to my guy. If he agrees I'll propose him to the team via email. I think we have agreed that talking about potential candidates for joining a team or (especially) leading one should be private.

[2017-11-11 20:35] CharliePoole commented on #32
I corresponded with @ManfredLange about the possible role of project lead for the VS project loader. He feels he can't really do it because of heavy job responsibilities at this time, but is willing to contribute when the issues align with his clients needs. I went ahead and invited him to be a collaborator on the project, since we don't have specific teams for each extension.

Manfred has already

[2017-11-12 14:27] rprouse commented on #32
Welcome @ManfredLange. I didn't realize you did csUnit. It was the first unit test framework I used and I still have old code using it 👍

[2017-11-16 20:43] ChrisMaddock commented on #33
I want to draw some conclusions here.

1. I think there's the general feeling that there's little net gain to bringing NUnit.StaticExpect inside the organisation, and the core team is currently quite time limited to support that process.
2. NUnit.StaticExpect would be a great fit for a 'contrib' setup. However, that's not something we have set up yet - and not something I think any of us currently

[2017-11-16 20:43] #33 closed

[2017-11-16 20:47] ChrisMaddock commented on #32
Great to have @ManfredLange on board, to help out with the VS extension. 😄

I think the conclusion of this issue, is that we have no obvious/willing candidates for these roles - they remain something that can be filled if the right person comes along, otherwise the engine team will keep taking responsibility.

I'll make a separate issue for the VS extension I was concerned about, and close this on

[2017-11-16 20:47] #32 closed

[2017-11-18 19:13] #21 closed

[2018-01-12 21:33] ChrisMaddock opened #34 "nunit.analyser project"
We need to make a decision about the future of the nunit.analyzers project.

The nunit.analyzers project was brought to the organization by @JasonBock back in 2016. Jason worked on the project for a while, however there has been little activity on the project for some time.

Back in November 2017 - @mikkelbu expressed an interest in contributing to the project, and started the discussion on the [D

[2018-01-12 21:33] ChrisMaddock commented on #34
In my opinion, this project needs a dedicated maintainer to grow. I would be concerned about adding to the workload of the existing teams, and how that would likely lead to the analyser project becoming neglected.

As a user of NUnit - I'd love there to be a set of analysers. Jason has done some great work on the project already, and I don't want that to go to waste. It's fair to say I've a vested

[2018-01-12 21:42] CharliePoole commented on #34
@ChrisMaddock I agree with having Mikkel be the project maintainer. I assume it continues in "experimental" status until we decide otherwise.

[2018-01-12 21:45] ChrisMaddock commented on #34
I am proposing nothing else changing other than Mikkel taking over from Jason - so 'yes', in my opinion. 🙂

[2018-01-13 00:33] jnm2 commented on #34
Library-specific analyzers have been one of the most positive experiences I've had with any library. I'm relieved that capable hands are offering to take it up!

[2018-01-15 00:38] rprouse commented on #34
I am fine with @mikkelbu taking over assuming it remains experimental for now. It sounds like we pretty much have consensus on this. Can we close the issue?

@mikkelbu, I have bumped up your access to the Analyzers repo to admin so that you can make changes or add members. When you feel that the project is ready for an initial release, please talk to the @nunit/core-team and we can decide how to p

[2018-01-17 22:04] mikkelbu commented on #34
@rprouse Please close the issue 😄 . My plan is the following (in more or less a random order)
* Get an idea of the existing code (both the structure of the code and which functionality it support)
* Get some more tooling (CI, build scripts, make it work in both VS15 and 17, ...)
* Write some more documentation
* Easy to add extensions/features to attract more contributors
(and I probably forgot a

[2018-01-17 23:00] ChrisMaddock commented on #34
Sounds like a great way to build things up. 😀

[2018-01-17 23:00] #34 closed

[2018-01-18 02:22] CharliePoole commented on #34
This is great to see! Thanks for stepping up.

[2018-01-21 18:38] CharliePoole commented on #12
As noted above, I closed this because nobody wanted to continue it and I felt I had been doing it as the chair of the @nunit/core-team so it wasn't my place for me to continue once @rprouse began to fill that role. This seems to be a bit of a problem, however, since we do not actually have a document that says (1) who holds copyright to what (2) how they got that copyright and (3) what to do about

[2018-01-21 23:53] ChrisMaddock commented on #12
My (vague) memories are that we planned to move copyright to Rob/Terje as an interim measure, until we were set up with the .NET foundation - to ensure the foundation joining process wasn’t blocking your ‘handover list’, Charlie. I’d assumed that changing the licence was all that was needed to handover (I am not a lawyer) - if there’s more, then I think we should do that.

On docs - it looks like

[2018-01-22 01:00] CharliePoole commented on #12
My thinking on the legal stuff is that 99.9% of us programmers won't care one way or another, but that somebody in that 0.1% might find a loophole that allowed them to tie things up in a way that could be detrimental to NUnit. I'd like to make that impossible, even if it's tedious.

Regarding my comment that you linked, it refers to who should make the changes in each section of the wiki not what

[2018-01-22 08:45] ChrisMaddock commented on #12
Sorry, I’d missed you said ‘legacy’ docs.

[2018-01-23 21:00] ChrisMaddock commented on #22
@CharliePoole - can we close this one? 😄

[2018-01-23 21:01] ChrisMaddock commented on #29
@rprouse - can this issue be closed now? 🙂

[2018-01-23 21:48] rprouse commented on #22
The website is now hosted by GitHub and I manage the domains and DNS, so I think we can close. If there is something missing, please comment and reopen.

[2018-01-23 21:48] #22 closed

[2018-01-24 01:02] rprouse commented on #12
@CharliePoole I thought that we had agreed to CC-NC-SA for the legacy docs with the Non-Commercial being at your request, but I may be wrong. I also cannot find that email, issue or document. I probably mistook docs in this discussion to mean all docs, legacy and NUnit 3 since the NUnit 3 docs derive from the legacy docs.

Since you hold the copyright, I think it is appropriate that you decide how

[2018-01-24 01:36] #29 closed

[2018-01-24 02:07] CharliePoole commented on #12
@rprouse Although I'm sure you know this, for the benefit of the entire team I need to state...

So copyright and open source are not opposed, they go hand in hand. If the team or somebody on the team doesn't hold copyright, then you can't (among other things)
 * release the docs or software
 * challenge somebody else who makes improper use of the software.
 * change the license under which you re

[2018-01-27 20:16] CharliePoole opened #35 "Legacy NUnit Projects"
As has been discussed several times here and on various issues (see https://github.com/nunit/nunitv2/issues/43#issuecomment-325520091 for example) I have been looking at doing "something" with the legacy NUnit Software. At this point, I know what that "something" is, at least in general outline.

I'm creating this issue to give the Core Team a chance to point out any problems that my plans might c

[2018-01-27 20:51] rprouse commented on #35
All sounds good to me. If you release 2.6.5, I think that you should do it under the same name and NuGet package feed. I think that will give you the most accurate gauge of interest as it will be an easy upgrade for existing users. Otherwise, users will have to uninstall 2.6.4 and install your new package. I also expect that a new package will be difficult to discover, further lowering the potenti

[2018-01-28 00:25] CharliePoole commented on #35
Interesting way of looking at it... release as a means of measuring usage. 😄 I'll do that.

[2018-01-28 13:31] ChrisMaddock commented on #35
Sounds good to me - will be interested to hear about take-up.

[2018-02-01 17:53] CharliePoole commented on #35
I'm ready to work on a release with a number of fixes in place. Let's tease out the details of this to be sure we're on the same page...

1. Code is now at charliepoole/nunitv2. Changes are almost all related to obsoleting various things and adding in some of the replacements for what is marked obsolete. For example, `Is.StringMatching` is obsolete so `Does.Match` is added.

2. I'll move it to NUn

[2018-02-01 18:19] rprouse commented on #35
All good. If you don't mind, I would like to sync the nunit repo after you do your initial release so that people don't get confused. Or, should we archive the nunit repo? Or update the readme to point to your copy?

[2018-02-01 18:34] CharliePoole commented on #35
At this point, my repo is treated as a fork of the nunit repo. So it's possible for me to do a PR to merge it all. In fact, I've had to do my merges manually to get them into my master up to now.

Note that nunitv2 is already marked as archived.

The problem I see is that we may want to do two conflicting things, depending on how this turns out.

1. Put out one or two more releases of nunit/nunitv

[2018-02-07 19:55] CharliePoole commented on #35
@rprouse We can continue this discussion after your ski vacation. I'll put a comment here to summarize whatever I do in the next few weeks.

[2018-10-21 18:35] AraHaan commented on #13
hmm @rprouse I would like some steps to make my XmlAbstraction project as part of the .NET Foundation as well if possible but what would the steps be?

[2018-10-22 12:14] rprouse commented on #13
@AraHaan, check out the. NET Foundation website and contact them about joining.

[2018-10-22 12:18] rprouse commented on #13
@AraHaan, I checked your library on NuGet. You will probably need to build up your downloads and usage before it will be a good candidate. You could try blogging about it and writing more documentation.

[2018-10-22 15:30] AraHaan commented on #13
Alright, ye I plan to and also optimize a few key parts of it without changing functionality.

[2020-02-06 02:39] CharliePoole commented on #35
Closing this since no further action seems needed.

[2020-02-06 02:39] #35 closed

[2020-06-13 01:03] CharliePoole opened #36 "Clarify Core Team decision making"
A recent experience led me to feel that our decision-making rules need to be clarified. After proposing a project lead for the documentation project, and waiting a week without a response from the team chair, I ended up violating the rules by "calling" the election myself and notifying the individual.

Either I was wrong to do that and ought to be censured or the written rules should change in som

[2020-06-13 12:39] ChrisMaddock commented on #36
I think less explicit is the way forward, so we can adapt the process to how we need to work at any one time.

[2020-06-13 12:51] ChrisMaddock commented on #24
I think this issue came to an agreement that this is outside the scope of the Core Team's responsibility.

[2020-06-13 12:51] #24 closed

[2020-06-13 13:57] mikkelbu commented on #36
I agree with Chris. At least I would often miss a 72 hour deadline due to family obligations, regular work etc. And the email notifications from Github resemble each other, so messages in the teams "repo" are drowned but by regular messages

[2020-06-13 15:46] CharliePoole commented on #36
@mikkelbu Hmm.... My point about 72 hours was that we __don't__ require a response in any particcular amount of time, we only ask project leads to wait 72 hours before taking action so everyone has a reasonable chance to see the thing being discussed. We say __nothing__ about a time limit of any kind in the Core Team decision-making section of the docs.

To me, it seems a bit of a contradiction th

[2020-06-13 15:48] CharliePoole commented on #36
I'd welcome suggestions of stuff we could remove from the governance docs to make things less explicit. With my background in government bureaucracy I know how to add stuff already. :wink:

I may give it a try with two different PRs.

[2020-06-14 22:20] SeanKilleen opened #38 "Request for Consideration: Admin Permissions for Sean Killeen"
Hi all,

There are a few things I'd like to accomplish within `nunit/docs` that will require some administrative access.

* Branch protection rules
* The usage of bots to help with automating some workflows
* Enabling and configuring GitHub pages
* GitHub actions access token storage (need to be able to create a repo-wide secret)

I wanted to approach this group with a few options and get your tak

[2020-06-15 10:22] SeanKilleen commented on #38
This has been granted by Charlie.

[2020-06-15 10:22] #38 closed

[2020-06-28 21:38] jnm2 commented on #24
Yes, thanks Chris!

[2020-06-28 21:52] jnm2 commented on #36
I also agree with making it less explicit. I'm taking that to mean doing our best to specify as little as possible that still allows us to steer toward better outcomes.

https://github.com/nunit/governance/pull/39/files#diff-476744470f74a3417de19853c14ea737R27:

This part got me thinking. It places inherent trust in whole team to be self-governing at times when the Chair is not available. What if

[2020-06-28 23:25] #17 closed

[2020-06-28 23:40] CharliePoole commented on #36
Any specific ideas for simplifying? I don't think you were around when we started creating the governance rules, but I drafted them in the role of a facilitator, trying to put in what everyone wanted. It took us more than a year to agree on them and I'm pretty sure we don't want to start a new effort of that scope. At least I don't. :confused:

[2020-06-29 00:04] jnm2 commented on #36
Understood. The reason I asked was not to begin a process but because I like to hear what people are thinking and learn why things are the way they are.

[2020-06-29 02:48] #36 closed

[2020-09-13 00:35] CharliePoole commented on #12
We discussed this from January 2017 to June 2018 and  then stopped. There has been no discussion for the past two years. I had closed it at one point, believing it was done, but it was re-opened. Is there something that still is needed?

[2020-09-15 16:20] ChrisMaddock commented on #12
Whatever we discussed in the past, I think our current position is stable. How about we close this, and create a new issue if there's anything we want to change here in the future?

I reopened it 2 years ago, so I'll go ahead and close it now. Feel free to reopen if anyone disagrees.

[2020-09-15 16:20] #12 closed

[2021-08-04 01:04] rprouse opened #40 "Switch organization to require multi-factor authentication"
The .NET Foundation is asking its member projects to enforce multi-factor authentication to improve security. This is something I've been planning on doing this for a while, so no time like the present.

More info on how to enable 2FA for your organization: https://docs.github.com/en/organizations/keeping-your-organization-secure/requiring-two-factor-authentication-in-your-organization
More info o

[2021-08-04 01:22] jnm2 commented on #40
I also recommend Authy if you aren't already using a 2FA app.

[2021-08-04 01:28] rprouse commented on #40
I've removed the unused teams and most people that aren't on project teams. I've left a few people that are active and help out.

One other person that needs to enable MFA is @Poimen

If I removed anyone from the organization by mistake, please let me know and I will re-add them.

[2021-08-04 01:39] rprouse opened #41 "Update Code of Conduct on all active projects"
The .NET Foundation now has a standard [code of conduct](https://dotnetfoundation.org/about/code-of-conduct) for all projects and the [markdown file](https://github.com/dotnet-foundation/website/blob/main/CODE_OF_CONDUCT.md) linking to it.

This standardizes the CoC across member projects but more importantly for us it provides an email address for reports and a committee for investigations.

We n

[2021-08-04 05:27] stevenaw commented on #40
Huh, I had thought I had already enabled this.
Done, thanks @rprouse

[2021-08-04 06:46] Poimen commented on #40
@rprouse thanks for the reminder, MFA should be enabled now 😄

[2021-08-04 07:00] Dreamescaper commented on #40
Thanks, done!

[2021-08-07 15:30] ChrisMaddock commented on #40
Done, thank you. 🙂

[2021-08-07 17:45] CharliePoole commented on #40
Done as well.

FWIW, situation where one device is a linux box and the other is a virtual windows machine running under virtualbox is a bit tricky. To add the second device, you need to get a code on the first one, then switch. Best to copy the code when most of the allowed 30 seconds are still available so it doesn't expire. Of course, that requires copy / paste support enabled for the virtual ma

[2021-08-08 02:09] oznetmaster commented on #40
All set here.

[2021-08-13 02:52] rprouse commented on #40
@mikkelbu can you update to MFA soon? I don't want you to get removed from the org when we update.

[2021-08-13 05:13] mikkelbu commented on #40
I'll try to do it this weekend, but at the moment my spare time is very limited (almost nonexistent).

[2021-08-13 20:52] mikkelbu commented on #40
I've enabled 2FA using Authy

[2021-08-14 01:54] rprouse commented on #40
MFA has been enabled on the organization. Thanks for your help everyone.

[2021-08-14 01:54] #40 closed

[2021-08-14 01:55] #27 closed

[2021-10-10 22:35] rprouse commented on #41
Pull requests submitted for all repos.

[2021-10-11 11:22] mikkelbu commented on #41
I should have looked into this in more detail before rather than now. But reading the code of conduct I have two questions. Who are the "Community leaders" and what if we don't agree with them? I'm especially thinking of

Will we be notified if a user create an issue, PR, ... that they remove or edit or how is the intended flow? I know that this probably happens very rarely, but it would be nice t

[2021-10-17 12:24] rprouse commented on #41
@mikkelbu the community leaders are volunteers from several member projects that review any submissions. We keep their names secret to protect them from reprisal.

So far, most issues are dealt with by the member projects themselves. The committee is only there as an impartial third party if it cannot be resolved. Anything that the committee decides is also reviewed by the board to ensure fairness

[2022-01-26 19:53] ChrisMaddock commented on #25
AFAIK the Donations page is long gone. 😊

[2022-01-26 19:53] #25 closed

[2022-10-29 11:23] Arhell opened #43 "update link"
http=>https

[2022-10-31 12:09] #43 closed